<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewpoint" content="width=device-width" />
    <title>Scour Tab</title>
    <link rel="icon" href="../media/logo-rings-only-purple.png" />

    <!-- CSS -->
    <link rel="stylesheet" href="../styles/foundations.css" />
    <link rel="stylesheet" href="../styles/components.css" />
    <!-- JS -->
    <script src="../scripts/modules/dropdownMenus.mjs" defer></script>
    <script src="../scripts/modules/snbi.mjs" defer></script>
    <script src="../scripts/modules/modal.mjs" defer></script>
    <script src="../scripts/modules/assetdata.mjs" defer></script>
    <script src="../scripts/modules/ratingForms.mjs" defer></script>
    <script type="text/javascript" src="../scripts/scripts.js" defer></script>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=DMCSSans:opsz@9..40&family=Roboto&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet" />
    <!-- Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=MaterialCSSymbolsCSOutlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  </head>
  <body style="background-color: rgb(58 73 95 / 0.9); background-image: none">
    <div id="bridge-scour-tab" class="bridge-component-containers active" style="display: block">
      <div class="main-content-containers">
        <button class="bridge-scour-buttons" data-target="bridge-scour-pg1" data-container-class="bridge-scour-containers" data-button-class="bridge-scour-buttons">Scour (B.C.11)</button>
        <button class="bridge-scour-buttons active" data-target="bridge-scour-pg2" data-container-class="bridge-scour-containers" data-button-class="bridge-scour-buttons">Rating Table</button>
        <button class="bridge-scour-buttons" data-target="bridge-scour-pg3" data-container-class="bridge-scour-containers" data-button-class="bridge-scour-buttons">Example Comments</button>
        <button class="bridge-scour-buttons alt-buttons" data-target="bridge-scour-pg4" data-container-class="bridge-scour-containers" data-button-class="bridge-scour-buttons">Scour Vulnerability (B.AP.03)</button>
        <button class="bridge-scour-buttons alt-buttons" data-target="bridge-scour-pg5" data-container-class="bridge-scour-containers" data-button-class="bridge-scour-buttons">Rating Table</button>
        <button class="bridge-scour-buttons alt-buttons" data-target="bridge-scour-pg6" data-container-class="bridge-scour-containers" data-button-class="bridge-scour-buttons">Example Comments</button>
      </div>
      <div class="main-content-containers">
        <div id="bridge-scour-pg1" class="bridge-scour-containers">
          <div class="content-container-paragraphs">
            <p>Refer to Item B.AP.03 (Scour Vulnerability) to verify if the bridge has been determined to be stable or unstable for appraised scour conditions.</p>
            <br />

            <p>
              Consider design scour depth and critical scour depth, commonly found in hydraulic designs, scour evaluations, and POAs, when determining the scour condition
              ratings.
            </p>
            <br />

            <p>
              When observed conditions are not consistent with the scour design or the assumptions used in the scour appraisal, this indicates a need to reevaluate Item B.AP.03
              (Scour Vulnerability).
            </p>
          </div>
        </div>
        <div id="bridge-scour-pg2" class="bridge-scour-containers active" style="display: block">
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">N</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">NOT APPLICABLE</span>Bridge does not cross over water.
            </p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">9</span>
            <p class="content-container-rating-description-and-condition-bubble"><span class="content-container-rating-condition-bubble">EXCELLENT</span>No scour.</p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">8</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">VERY GOOD</span>Insignificant scour.
            </p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">7</span>
            <p class="content-container-rating-description-and-condition-bubble"><span class="content-container-rating-condition-bubble">GOOD</span>Some minor scour.</p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">6</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">SATISFACTORY</span>Widespread minor or isolated moderate scour.
            </p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">5</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">FAIR</span>Moderate scour; strength and stability of the bridge are not affected.
            </p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">4</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">POOR</span>Widespread moderate or isolated major scour; strength and/or stability of the bridge is
              affected.
            </p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">3</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">SERIOUS</span>Major scour; strength and/or stability of the bridge is seriously affected. Condition
              typically necessitates more frequent monitoring, load restrictions, and/or corrective actions.
            </p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">2</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">CRITICAL</span>Major scour; strength and/or stability of the bridge is severely compromised. Condition
              typically necessitates frequent monitoring, significant load restrictions, and/or corrective actions to keep the bridge open.
            </p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">1</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">IMMINENT FAILURE</span>Bridge is closed to traffic due to scour condition. Channel rehabilitation may
              return the bridge to service.
            </p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">0</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">FAILED</span>Bridge is closed due to scour condition, and is beyond corrective action. Bridge replacement
              is needed to restore service.
            </p>
          </div>
        </div>
        <div id="bridge-scour-pg3" class="bridge-scour-containers">
          <div class="content-container-paragraphs">
            <p class="content-container-comment-lines">There is no scour present.</p>
            <p class="content-container-comment-lines">There is minor localized scour at the interior piers.</p>
            <p class="content-container-comment-lines">The designed countermeasures are in good condition.</p>
          </div>
        </div>
        <div id="bridge-scour-pg4" class="bridge-scour-containers">
          <div class="content-container-paragraphs">
            <p>The intent of this item is to report the status and vulnerability determination from scour appraisals required by the NBIS.</p>
            <br />

            <p>
              The codes for this item are based on the appraised scour vulnerability as described in HEC-18, Evaluating Scour at Bridges; HEC-23, Bridge Scour and Stream
              Instability Countermeasures; and HEC-20, Stream Stability at Highway Structures.
            </p>
            <br />

            <p>Scour appraisals are typically performed by a multidisciplinary team of hydraulic, geotechnical, and structural engineers (Scour Appraisal Team).</p>
            <br />

            <p>FHWA Hydraulic Technical Advisories, manuals, and software can be found in the link below.</p>
            <br />

            <p>
              Refer to item B.C.11 (Scour Condition Rating) in the Component Condition Ratings subsection to address field observed scour conditions and the effect on bridge
              components.
            </p>
            <br />

            <p>
              Use code B when designed, installed, and functioning countermeasures are used to address potential scour and to maintain bridge stability for new or existing
              bridges, or bridges with unknown foundations.
            </p>
            <br />

            <p>
              Use code B when the Scour Appraisal Team determines that the in-place, non-designed countermeasures are fully functioning and are appropriate to mitigate the risk
              of scour.
            </p>
            <br />

            <p>Use code C for bridges that could become unstable for the potential scour, and temporary countermeasures are installed that were not designed.</p>
          </div>
        </div>
        <div id="bridge-scour-pg5" class="bridge-scour-containers">
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">0</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">NOT COMPLETE</span>Scour appraisal has not been completed.
            </p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">A</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">STABLE</span>Scour appraisal completed. Bridge determined to be stable for scour.
            </p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">B</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">COUNTERMEASURES</span>Scour appraisal completed. Bridge determined to be stable for scour, dependent upon
              designed, and functioning countermeasures.
            </p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">C</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">TEMPORARY COUNTERMEASURES</span>Scour appraisal completed. Bridge could become unstable for scour.
              Temporary (not designed) countermeasure installed to mitigate scour. Bridge is scour critical.
            </p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">D</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">UNSTABLE</span>Scour appraisal completed. Bridge is, or may become, unstable for scour. Bridge is scour
              critical.
            </p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">E</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">NOT COMPLETED</span>Scour appraisal has not been completed. Temporary (not designed) countermeasure
              installed to mitigate scour.
            </p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">U</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">UNKNOWN</span>Scour appraisal has not been completed due to unknown foundations.
            </p>
          </div>
        </div>
        <div id="bridge-scour-pg6" class="bridge-scour-containers">
          <div class="content-container-paragraphs">
            <p class="content-container-comment-lines">There is no scour present.</p>
            <p class="content-container-comment-lines">There is minor localized scour at the interior piers.</p>
            <p class="content-container-comment-lines">The designed countermeasures are in good condition.</p>
          </div>
        </div>
      </div>
      <div class="main-content-containers">
        <h3 class="content-container-links-line-label">Links:</h3>
        <a
          class="content-container-links-line-links"
          rel="noopener noreferrer"
          target="”_tab”"
          href="https://www.fhwa.dot.gov/bridge/snbi/snbi_march_2022_publication.pdf#page=282"
          >SNBI</a
        >
        |
        <a
          class="content-container-links-line-links"
          rel="noopener noreferrer"
          target="”_tab”"
          href="https://www.fhwa.dot.gov/bridge/snbi/snbi_march_2022_publication.pdf#page=320"
          >SNBI</a
        >
        <a
          class="content-container-links-line-links"
          rel="noopener noreferrer"
          target="”_tab”"
          href="https://www.in.gov/dot/div/contracts/standards/bridge_inspection/inspector_manual/index.htm"
          >BIM</a
        >
        <a
          id="footerStop"
          class="content-container-links-line-links"
          rel="noopener noreferrer"
          target="”_tab”"
          href="https://www.in.gov/dot/div/contracts/standards/bridge_inspection/pubs/1995%20Recording%20and%20Coding%20Guide%20for%20the%20Structural%20Inventory%20and%20Appraisal%20of%20the%20Nations%20Bridges.pdf"
          >Coding Guide</a
        >
        <a
          id="footerStop"
          class="content-container-links-line-links"
          rel="noopener noreferrer"
          target="”_tab”"
          href="https://www.in.gov/dot/div/contracts/standards/drawings/index.html"
          >Standard Drawings</a
        >
        <a id="footerStop" class="content-container-links-line-links" rel="noopener noreferrer" target="”_tab”" href="http://www.fhwa.dot.gov/engineering/hydraulics/index.cfm"
          >FHWA Hydraulics</a
        >
      </div>
      <div class="main-content-containers">
        <p class="paragraph-rating">Scour Comments:</p>
        <div class="content-container-paragraphs">
          <div class="textarea-containers">
            <div class="textarea-mirrors">
              <textarea id="BC11-textarea" class="textarea-comments" name="Scour" rows="1" oninput="expandTextarea(event, 'BC11-textarea')"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="main-content-containers">
        <p class="paragraph-rating">Scour Vulnerability Comments:</p>
        <div class="content-container-paragraphs">
          <div class="textarea-containers">
            <div class="textarea-mirrors">
              <textarea id="BAP03-textarea" class="textarea-comments" name="Scour Vulnerability" rows="1" oninput="expandTextarea(event, 'BAP03-textarea')"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

