<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewpoint" content="width=device-width" />
    <title>Element Tab</title>
    <link rel="icon" href="../media/logo-rings-only-purple.png" />

    <!-- CSS -->
    <link rel="stylesheet" href="../styles/foundations.css" />
    <link rel="stylesheet" href="../styles/components.css" />
    <!-- JS -->
    <script src="../scripts/modules/elements.js" defer></script>
    <script type="text/javascript" src="../scripts/scripts.js" defer></script>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=DMCSSans:opsz@9..40&family=Roboto&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet" />
    <!-- Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=MaterialCSSymbolsCSOutlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  </head>
  <body style="background-color: rgb(58 73 95 / 0.9); background-image: none">
    <div id="bridge-elements-tab" class="bridge-component-containers active" style="display: block">
      <div class="main-content-containers">
        <button class="element-item-buttons active" data-target="element-elements-tab" data-container-class="element-content-containers" data-button-class="element-item-buttons">Element List</button> |
        <button class="element-item-buttons" data-target="element-concrete-tab" data-container-class="element-content-containers" data-button-class="element-item-buttons">Concrete</button>
        <button class="element-item-buttons" data-target="element-steel-tab" data-container-class="element-content-containers" data-button-class="element-item-buttons">Steel</button>
        <button class="element-item-buttons" data-target="element-masonry-tab" data-container-class="element-content-containers" data-button-class="element-item-buttons">Masonry</button>
        <button class="element-item-buttons" data-target="element-timber-tab" data-container-class="element-content-containers" data-button-class="element-item-buttons">Timber</button>
        <button class="element-item-buttons" data-target="element-bearings-tab" data-container-class="element-content-containers" data-button-class="element-item-buttons">Bearings</button>
        <button class="element-item-buttons" data-target="element-joints-tab" data-container-class="element-content-containers" data-button-class="element-item-buttons">Joints</button>
        <button class="element-item-buttons" data-target="element-paint-tab" data-container-class="element-content-containers" data-button-class="element-item-buttons">Paint</button>
        <button class="element-item-buttons" data-target="element-wearing-surface-tab" data-container-class="element-content-containers" data-button-class="element-item-buttons">Wearing Surface</button>
        <!-- <div class="content-container-tabs"></div> -->
      </div>

      <div id="element-elements-tab" class="element-content-containers active" style="display: block">
        <div class="main-content-containers">
          <div id="element-components-container">
            <!-- innerHTML is dynamically built in element.js -->
          </div>
        </div>
      </div>

      <div id="element-concrete-tab" class="element-content-containers">
        <div class="element-content-cards-container">
          <div class="element-content-cards">
            <p class="element-card-header">Delamination, Spall, Patched Area (1080):</p>
            <ul>
              <li>
                <p class="element-card-paragraph">CS2 - Delaminated. Spall 1 in. or less deep or 6 in. or less in diameter. Patched area that is sound.</p>
              </li>
              <li>
                <p class="element-card-paragraph">
                  CS3 - pall greater than 1 in. deep or greater than 6 in. diameter. Patched area that is unsound or showing distress. Does not warrant structural review.
                </p>
              </li>
            </ul>
          </div>

          <div class="element-content-cards">
            <p class="element-card-header">Exposed Rebar (1090):</p>
            <ul>
              <li>
                <p class="element-card-paragraph">CS2 - Present without measurable section loss.</p>
              </li>
              <li>
                <p class="element-card-paragraph">CS3 - Present with measurable section loss but does not warrant structural review.</p>
              </li>
            </ul>
          </div>

          <div class="element-content-cards">
            <p class="element-card-header">Efflorescence, Rust Staining (1120):</p>
            <ul>
              <li>
                <p class="element-card-paragraph">CS2 - Surface white without build-up or leaching without rust staining.</p>
              </li>
              <li>
                <p class="element-card-paragraph">CS3 - Heavy build-up with rust staining.</p>
              </li>
            </ul>
          </div>

          <div class="element-content-cards">
            <p class="element-card-header">Cracking (1130):</p>
            <ul>
              <li>
                <p class="element-card-paragraph">CS2 - Unsealed moderate-width cracks, or unsealed moderate pattern (map) cracking.</p>
              </li>
              <li>
                <p class="element-card-paragraph">CS3 - Wide cracks or heavy pattern (map) cracking.</p>
              </li>
            </ul>
          </div>

          <div class="element-content-cards">
            <p class="element-card-header">Abrasion, Wear (1190):</p>
            <ul>
              <li>
                <p class="element-card-paragraph">CS2 - Abrasion or wearing has exposed coarse aggregate but the aggregate remains secure in the concrete.</p>
              </li>
              <li>
                <p class="element-card-paragraph">CS3 - Coarse aggregate is loose or has popped out of the concrete matrix because of abrasion.</p>
              </li>
            </ul>
          </div>

          <div class="element-content-cards">
            <p class="element-card-header">Settlement (4000):</p>
            <ul>
              <li>
                <p class="element-card-paragraph">CS2 - Exists within tolerable limits or arrested with no observed structural distress.</p>
              </li>
              <li>
                <p class="element-card-paragraph">CS3 - Exceeds tolerable limits but does not warrant structural review.</p>
              </li>
            </ul>
          </div>

          <div class="element-content-cards">
            <p class="element-card-header">Scour (6000):</p>
            <ul>
              <li>
                <p class="element-card-paragraph">CS2 - Exists within tolerable limits or has been arrested with effective countermeasures.</p>
              </li>
              <li>
                <p class="element-card-paragraph">
                  CS3 - Exceeds tolerable limits but is less than the critical limits determined by scour evaluation and does not warrant a structural review.
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div id="element-steel-tab" class="element-content-containers">
        <div class="element-content-cards-container">
          <div class="element-content-cards">
            <p class="element-card-header">Corrosion (1000):</p>
            <ul>
              <li>
                <p class="element-card-paragraph">CS2 - Freckled rust. Corrosion of the steel has initiated.</p>
              </li>
              <li>
                <p class="element-card-paragraph">CS3 - Section loss is evident, or pack rust is present but does not warrant structural review.</p>
              </li>
            </ul>
          </div>

          <div class="element-content-cards">
            <p class="element-card-header">Cracking (1010):</p>
            <ul>
              <li>
                <p class="element-card-paragraph">CS2 - Crack that has self-arrested or has been arrested with effective arrest holes, doubling plates, or similar.</p>
              </li>
              <li>
                <p class="element-card-paragraph">CS3 - Identified crack that is not arrested but does not warrant structural review.</p>
              </li>
            </ul>
          </div>

          <div class="element-content-cards">
            <p class="element-card-header">Connection (1020):</p>
            <ul>
              <li>
                <p class="element-card-paragraph">CS2 - Loose fasteners or pack rust without distortion present but the connection is in place and functioning as intended.</p>
              </li>
              <li>
                <p class="element-card-paragraph">
                  CS3 - Missing bolts, rivets, or fasteners; broken welds; or pack rust with distortion but does not warrant a structural review.
                </p>
              </li>
            </ul>
          </div>

          <div class="element-content-cards">
            <p class="element-card-header">Distortion (1900):</p>
            <ul>
              <li>
                <p class="element-card-paragraph">CS2 - Distortion not requiring mitigation or mitigated distortion.</p>
              </li>
              <li>
                <p class="element-card-paragraph">CS3 - Distortion that requires mitigation that has not been addressed but does not warrant a structural review.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div id="element-masonry-tab" class="element-content-containers">
        <div class="element-content-cards-container">
          <div class="element-content-cards">
            <p class="element-card-header">Delamination, Spall, Patched Area (1080):</p>
            <ul>
              <li>
                <p class="element-card-paragraph">CS2 - Delaminated. Spall 1 in. or less deep or 6 in. or less in diameter. Patched area that is sound.</p>
              </li>
              <li>
                <p class="element-card-paragraph">
                  CS3 - Spall greater than 1 in. deep or greater than 6 in. diameter. Patched area that is unsound or showing distress. Does not warrant structural review.
                </p>
              </li>
            </ul>
          </div>

          <div class="element-content-cards">
            <p class="element-card-header">Efflorescence, Rust Staining (1120):</p>
            <ul>
              <li>
                <p class="element-card-paragraph">CS2 - Surface white without build-up or leaching without rust staining.</p>
              </li>
              <li>
                <p class="element-card-paragraph">CS3 - Heavy build-up with rust staining.</p>
              </li>
            </ul>
          </div>

          <div class="element-content-cards">
            <p class="element-card-header">Mortar Breakdown (1610):</p>
            <ul>
              <li>
                <p class="element-card-paragraph">CS2 - Cracking or voids in less than 10% of joints.</p>
              </li>
              <li>
                <p class="element-card-paragraph">CS3 - Cracking or voids in 10% or more of the joints.</p>
              </li>
            </ul>
          </div>

          <div class="element-content-cards">
            <p class="element-card-header">Split, Spall (1620):</p>
            <ul>
              <li>
                <p class="element-card-paragraph">CS2 - Block or stone has split or spalled with no shifting.</p>
              </li>
              <li>
                <p class="element-card-paragraph">CS3 - Block or stone has split or spalled with shifting but does not warrant a structural review.</p>
              </li>
            </ul>
          </div>

          <div class="element-content-cards">
            <p class="element-card-header">Patched Area (1630):</p>
            <ul>
              <li>
                <p class="element-card-paragraph">CS2 - Sound patch.</p>
              </li>
              <li>
                <p class="element-card-paragraph">CS3 - Unsound patch</p>
              </li>
            </ul>
          </div>

          <div class="element-content-cards">
            <p class="element-card-header">Masonry Displacement (1640):</p>
            <ul>
              <li>
                <p class="element-card-paragraph">CS2 - Block or stone has shifted slightly out of alignment.</p>
              </li>
              <li>
                <p class="element-card-paragraph">CS3 - Block or stone has shifted significantly out of alignment or is missing but does not warrant structural review.</p>
              </li>
            </ul>
          </div>

          <div class="element-content-cards">
            <p class="element-card-header">Distortion (1900):</p>
            <ul>
              <li>
                <p class="element-card-paragraph">CS2 - Distortion not requiring mitigation or mitigated distortion.</p>
              </li>
              <li>
                <p class="element-card-paragraph">CS3 - Distortion that requires mitigation that has not been addressed but does not warrant a structural review.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div id="element-timber-tab" class="element-content-containers">
        <div class="element-content-cards-container">
          <div class="element-content-cards">
            <p class="element-card-header">Connection (1020):</p>
            <ul>
              <li>
                <p class="element-card-paragraph">CS2 - Loose fasteners or pack rust without distortion present but the connection is in place and functioning as intended.</p>
              </li>
              <li>
                <p class="element-card-paragraph">
                  CS3 - Missing bolts, rivets, or fasteners; broken welds; or pack rust with distortion but does not warrant a structural review.
                </p>
              </li>
            </ul>
          </div>

          <div class="element-content-cards">
            <p class="element-card-header">Decay, Section Loss (1140):</p>
            <ul>
              <li>
                <p class="element-card-paragraph">CS2 - Affects less than 10% of the member section.</p>
              </li>
              <li>
                <p class="element-card-paragraph">CS3 - Affects 10% or more of the member but does not warrant structural review.</p>
              </li>
            </ul>
          </div>

          <div class="element-content-cards">
            <p class="element-card-header">Check, Shake (1150):</p>
            <ul>
              <li>
                <p class="element-card-paragraph">CS2 - Penetrates 5%-50% of the thickness of the member and not in a tension zone.</p>
              </li>
              <li>
                <p class="element-card-paragraph">
                  CS3 - Penetrates more than 50% of the thickness of the member or penetrates more than 5% of the thickness of the member in the tension zone. Does not warrant
                  structural review.
                </p>
              </li>
            </ul>
          </div>

          <div class="element-content-cards">
            <p class="element-card-header">Crack (1160):</p>
            <ul>
              <li>
                <p class="element-card-paragraph">CS2 - Crack that has been arrested through effective measures.</p>
              </li>
              <li>
                <p class="element-card-paragraph">CS3 - Identified crack that is not arrested but does not require structural review.</p>
              </li>
            </ul>
          </div>

          <div class="element-content-cards">
            <p class="element-card-header">Split, Delamination (1170):</p>
            <ul>
              <li>
                <p class="element-card-paragraph">CS2 - Length less than the member depth or arrested with effective actions taken to mitigate.</p>
              </li>
              <li>
                <p class="element-card-paragraph">CS3 - Length equal to or greater than the member depth but does not require structural review.</p>
              </li>
            </ul>
          </div>

          <div class="element-content-cards">
            <p class="element-card-header">Abrasion, Wear (1180):</p>
            <ul>
              <li>
                <p class="element-card-paragraph">CS2 - Section loss less than 10% of the member thickness.</p>
              </li>
              <li>
                <p class="element-card-paragraph">CS3 - Section loss 10% or more of the member thickness but does not warrant structural review.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div id="element-bearings-tab" class="element-content-containers">
        <div class="element-content-cards-container">
      
          <div class="element-content-cards">
        <p class="element-card-paragraph">
          <p class="element-card-header">Corrosion (1000): </p>
        </p>
        <ul>
          <li>
            <p class="element-card-paragraph">CS2 - Freckled rust. Corrosion of the steel has initiated.</p>
          </li>
          <li>
            <p class="element-card-paragraph">CS3 - Section loss is evident, or pack rust is present but does not warrant structural review.</p>
          </li>
        </ul>
      </div>
      
      <div class="element-content-cards">
        <p class="element-card-header">Connection (1020): </p>
        <ul>
          <li>
            <p class="element-card-paragraph">CS2 - Loose fasteners or pack rust without distortion present but the connection is in place and functioning as intended.</p>
          </li>
          <li>
            <p class="element-card-paragraph">CS3 - Missing bolts, rivets, or fasteners; broken welds; or pack rust with distortion but does not warrant a structural review.</p>
          </li>
        </ul>
      </div>
      
      <div class="element-content-cards">
        <p class="element-card-header">Movement (2210): </p>
        <ul>
          <li>
            <p class="element-card-paragraph">CS2 - Minor restriction.</p>
          </li>
          <li>
            <p class="element-card-paragraph">CS3 - Restricted, but not warranting a structural review.</p>
          </li>
        </ul>
      </div>
      
      <div class="element-content-cards">
        <p class="element-card-header">Alignment (2220): </p>
        <ul>
          <li>
            <p class="element-card-paragraph">CS2 - Tolerable lateral or vertical alignment that is inconsistent with the temperature conditions.</p>
          </li>
          <li>
            <p class="element-card-paragraph">CS3 - Approaching the limits of lateral or vertical alignment for the bearing but does not warrant a structural review.</p>
          </li>
        </ul>
      </div>
      
      <div class="element-content-cards">
        <p class="element-card-header">Bulging, Splitting, or Tearing (2230): </p>
        <ul>
          <li>
            <p class="element-card-paragraph">CS2 - Bulging less than 15% of the thickness.</p>
          </li>
          <li>
            <p class="element-card-paragraph">CS3 - Bulging 15% or more of the thickness. Splitting or tearing. Bearing's surfaces are not parallel. Does not warrant structural review.</p>
          </li>
        </ul>
      </div>
      
      <div class="element-content-cards">
        <p class="element-card-header">Loss of Bearing Area (2240): </p>
        <ul>
          <li>
            <p class="element-card-paragraph">CS2 - Less than 10%.</p>
          </li>
          <li>
            <p class="element-card-paragraph">CS3 - 10% or more but does not warrant structural review.</p>
          </li>
        </ul>
      </div>
      
        </div>
      </div>
      <div id="element-joints-tab" class="element-content-containers">
        <div class="element-content-cards-container">
      
          <div class="element-content-cards">
            <p class="element-card-header">Leakage (2310): </p>
            <ul>
              <li>
                <p class="element-card-paragraph">CS2 - Minimal. Minor dripping through the joints.</p>
              </li>
              <li>
                <p class="element-card-paragraph">CS3 - Moderate. More than a drip and less than free flow water. |CS4| Free flow of water through the joint.</p>
              </li>
            </ul>
          </div>
          
          <div class="element-content-cards">
            <p class="element-card-header">Seal Adhesion (2320): </p>
            <ul>
              <li>
                <p class="element-card-paragraph">CS2 - Adhered for more than 50% of the Joint height.</p>
              </li>
              <li>
                <p class="element-card-paragraph">CS3 - Adhered 50% or less of joint height, but still some adhesion. |CS4| Complete loss of adhesion.</p>
              </li>
            </ul>
          </div>
          
          <div class="element-content-cards">
            <p class="element-card-header">Seal Damage (2330): </p>
            <ul>
              <li>
                <p class="element-card-paragraph">CS2 - Seal abrasion without punctures.</p>
              </li>
              <li>
                <p class="element-card-paragraph">CS3 - Punctured or ripped or partially pulled out.</p>
              </li>
            </ul>
          </div>
          
          <div class="element-content-cards">
            <p class="element-card-header">Debris Impaction (2350): </p>
            <ul>
              <li>
                <p class="element-card-paragraph">CS2 - Partially filled with hard-packed material but still allowing free movement.</p>
              </li>
              <li>
                <p class="element-card-paragraph">CS3 - Completely filled and impacts joint movement. |CS4| Completely filled and prevents joint movement.</p>
              </li>
            </ul>
          </div>
          
          <div class="element-content-cards">
            <p class="element-card-header">Adjacent Deck or Header (2360): </p>
            <ul>
              <li>
                <p class="element-card-paragraph">CS2 - Edge delamination or spall 1 in. or less deep or 6 in. or less in diameter. No exposed rebar. Patched area that is sound.</p>
              </li>
              <li>
                <p class="element-card-paragraph">CS3 - Spall greater than 1 in. deep or greater than 6 in. diameter. Exposed rebar. Delamination or unsound patched area that makes the joint loose.</p>
              </li>
            </ul>
          </div>
          
          <div class="element-content-cards">
            <p class="element-card-header">Metal Deterioration or Damage (2370): </p>
            <ul>
              <li>
                <p class="element-card-paragraph">CS2 - Freckled rust; metal has no cracks or impact damage. Connection may be loose but functioning as intended.</p>
              </li>
              <li>
                <p class="element-card-paragraph">CS3 - Section loss, missing or broken fasteners, cracking of the metal, or impact damage but joint still functioning.</p>
              </li>
            </ul>
          </div>
      
        </div>
      </div>
      <div id="element-paint-tab" class="element-content-containers">
        <div class="element-content-cards-container">
      
          <div class="element-content-cards">
            <p class="element-card-header">Chalking (3410): </p>
            <ul>
              <li>
                <p class="element-card-paragraph">CS2 - Surface dulling.</p>
              </li>
              <li>
                <p class="element-card-paragraph">CS3 - Loss of pigment.</p>
              </li>
            </ul>
          </div>
          
          <div class="element-content-cards">
            <p class="element-card-header">Peeling, Bubbling, Cracking (3420): </p>
            <ul>
              <li>
                <p class="element-card-paragraph">CS2 - Finish coats only.</p>
              </li>
              <li>
                <p class="element-card-paragraph">CS3 - Finish and primer coats. |CS4| Exposure of bare metal.</p>
              </li>
            </ul>
          </div>
          
          <div class="element-content-cards">
            <p class="element-card-header">Oxide Film Degradation (3430): </p>
            <ul>
              <li>
                <p class="element-card-paragraph">CS2 - Granular texture.</p>
              </li>
              <li>
                <p class="element-card-paragraph">CS3 - Small flakes, less than 0.5 in. diameter.</p>
              </li>
            </ul>
          </div>
          
          <div class="element-content-cards">
            <p class="element-card-header">Effectiveness (3440): </p>
            <ul>
              <li>
                <p class="element-card-paragraph">CS2 - Substantially effective.</p>
              </li>
              <li>
                <p class="element-card-paragraph">CS3 - Limited effectiveness.</p>
              </li>
            </ul>
          </div>
      
        </div>
      </div>
      <div id="element-wearing-surface-tab" class="element-content-containers">
        <div class="element-content-cards-container">
      
          <div class="element-content-cards">
            <p class="element-card-header">Delamination, Spall, Patched Area (3210): </p>
            <ul>
              <li>
                <p class="element-card-paragraph">CS2 - Delaminated. Spall 1 in. or less deep or 6 in. or less in diameter. Patched area that is sound. Partial-depth pothole.</p>
              </li>
              <li>
                <p class="element-card-paragraph">CS3 - Spall greater than 1 in. deep or greater than 6 in. diameter. Patched area that is unsound or showing distress. Full-depth pothole.</p>
              </li>
            </ul>
          </div>
          
          <div class="element-content-cards">
            <p class="element-card-header">Crack (3220): </p>
            <ul>
              <li>
                <p class="element-card-paragraph">CS2 - Width 0.012-0.05 in. or spacing of 1.0-3.0 ft.</p>
              </li>
              <li>
                <p class="element-card-paragraph">CS3 - Width of more than 0.05 in. or spacing of less than 1.0 ft.</p>
              </li>
            </ul>
          </div>
          
          <div class="element-content-cards">
            <p class="element-card-header">Effectiveness (3230): </p>
            <ul>
              <li>
                <p class="element-card-paragraph">CS2 - Substantially effective. Deterioration of the protected element has slowed.</p>
              </li>
              <li>
                <p class="element-card-paragraph">CS3 - Limited effectiveness. Deterioration of the protected element has progressed.</p>
              </li>
            </ul>
          </div>
      
        </div>
      </div>
    </div>
  </body>
</html>