<!-- IDs are strictly coded and changes will impact js code. IDs are not used for styling. A unique class that matches the ID can be used for this purpose. -->
<!-- HTML is for layout purposes only. JS eventListeners are used for calling functions. Any inline CSS or JS are for development and testing. -->
<!-- IDs are not used in the Template Literals. Template Literals are often repeated items. If IDs are used in Template Lieterals it should be noted. -->
<!-- Comments should be used in the HTML to show where Template Literals are used to build HTML. -->
<!-- Typical naming conventions (exceptions should be easy to understand): Functions = fxAction; IDs = namePurpose; Classes = htmltagPurpose. -->

<!-- Header will have a navigation pane reflecting choices. -->
<!-- Should ask questions that prevent errors like monolithic and slab. -->
<!-- Should store component comments and allow multiple defects be added.  -->
<!-- Scour. The substructure components appear stable. There is no scour present. -->
<!-- Use home page for iterate as layout. Choices and Questions, Ratings and Links, Comment. -->
<!-- Guide selections with good language. -->

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewpoint" content="width=device-width" />
    <title>Main Layout</title>
    <link rel="icon" href=".\media\logo-rings-only-purple.png" />

    <!-- CSS -->
    <link rel="stylesheet" href="styles/foundations.css" />
    <link rel="stylesheet" href="styles/components.css" />
    <!-- JS -->
    <script src="./scripts/modules/dropdownMenus.mjs" defer></script>
    <script src="./scripts/modules/snbi.mjs" defer></script>
    <script src="./scripts/modules/modal.mjs" defer></script>
    <script src="./scripts/modules/assetdata.mjs" defer></script>
    <script src="./scripts/modules/ratingForms.mjs" defer></script>
    <script type="text/javascript" src="./scripts/scripts.js" defer></script>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Roboto&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet" />
    <!-- Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  </head>

  <body>
    <!-- ------------------------------------------------------------- Header ------------------------------------------------------------- -->

    <header class="header">
      <!-- <div style="display: flex; height: 40px; line-height: 40px; vertical-align: middle; margin-left: 10px">Bridge | Culvert | Walls</div>
      <div style="display: flex; height: 40px; line-height: 40px; vertical-align: middle; margin-left: 10px">Superstructure | Reinforced Concrete Slab | Spalling</div> -->
      <div>
        <div class="header-tab-line">
          <button class="asset-buttons active" onclick="openAssetTab(event, 'bridge-asset-tab')">Bridge</button>
          <button class="asset-buttons" onclick="openAssetTab(event, 'culvert-asset-tab')">Culvert</button>
          <button class="asset-buttons" onclick="openAssetTab(event, 'wall-asset-tab')">Wall</button>
        </div>
      </div>
      <div>H</div>
    </header>

    <!-- ------------------------------------------------------------- Main ------------------------------------------------------------- -->

    <main>
      <div class="footer-spacer"></div>
    </main>

    <!-- ------------------------------------------------------------- Footer ------------------------------------------------------------- -->

    <footer class="footer">
      <div class="outer-container">
        <div class="inner-container" style="display: flex">
          <span class="footer-image-holder">
            <a tabindex="-1" href="iterate-logo.html" target="_blank" rel="noreferrer">
              <img class="iterate-img" src=".\media\logo-rings-only-purple.png" alt="iterate logo" />
            </a>
          </span>
          <span class="footer-text-holder"
            ><span class="ite-text">ite<span class="rate-text">rate</span> <span class="trailing-text"> //bridge Inspection software</span></span></span
          >
        </div>
      </div>
    </footer>
  </body>
</html>
