<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewpoint" content="width=device-width" />
    <title>Joints Tab</title>
    <link rel="icon" href="../media/logo-rings-only-purple.png" />

    <!-- CSS -->
    <link rel="stylesheet" href="../styles/foundations.css" />
    <link rel="stylesheet" href="../styles/components.css" />
    <!-- JS -->
    <script src="../scripts/modules/dropdownMenus.mjs" defer></script>
    <script src="../scripts/modules/snbi.mjs" defer></script>
    <script src="../scripts/modules/modal.mjs" defer></script>
    <script src="../scripts/modules/assetdata.mjs" defer></script>
    <script src="../scripts/modules/ratingForms.mjs" defer></script>
    <script type="text/javascript" src="../scripts/scripts.js" defer></script>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=DMCSSans:opsz@9..40&family=Roboto&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet" />
    <!-- Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=MaterialCSSymbolsCSOutlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  </head>
  <body style="background-color: rgb(58 73 95 / 0.9); background-image: none">
    <div id="bridge-joints-tab" class="bridge-component-containers active" style="display: block">
      <div class="main-content-containers">
        <button class="bridge-joints-buttons" data-target="bridge-joints-pg1" data-container-class="bridge-joints-containers" data-button-class="bridge-joints-buttons">Bridge Joints (B.C.08)</button>
        <button class="bridge-joints-buttons active" data-target="bridge-joints-pg2" data-container-class="bridge-joints-containers" data-button-class="bridge-joints-buttons">Rating Table</button>
        <button class="bridge-joints-buttons" data-target="bridge-joints-pg3" data-container-class="bridge-joints-containers" data-button-class="bridge-joints-buttons">Example Comments</button>
        <button class="bridge-joints-buttons alt-buttons" data-target="bridge-joints-pg4" data-container-class="bridge-joints-containers" data-button-class="bridge-joints-buttons">Terminal Joints (B.C.08a)</button>
        <button class="bridge-joints-buttons alt-buttons" data-target="bridge-joints-pg5" data-container-class="bridge-joints-containers" data-button-class="bridge-joints-buttons">Rating Table</button>
        <button class="bridge-joints-buttons alt-buttons" data-target="bridge-joints-pg6" data-container-class="bridge-joints-containers" data-button-class="bridge-joints-buttons">Example Comments</button> |
        <button class="bridge-joints-buttons" data-target="bridge-joints-pg7" data-container-class="bridge-joints-containers" data-button-class="bridge-joints-buttons">Elements</button>
        <button class="bridge-joints-buttons" data-target="bridge-joints-pg8" data-container-class="bridge-joints-containers" data-button-class="bridge-joints-buttons">Maintenance</button>
      </div>
      <div class="main-content-containers">
        <div id="bridge-joints-pg1" class="bridge-joints-containers">
          <div class="content-container-paragraphs">
            <p>
              This item addresses the condition of all types and shapes of bridge deck joints. The condition assessment includes all aspects of the joints such as any seals,
              headers (metal or concrete), connections, and other metal members.
            </p>
            <br />
            <p>When a joint is designed as an open joint, leakage or lack of a seal is not considered a defect.</p>
            <br />
            <p>
              Do not consider the condition of protective coatings and other protection systems when determining the condition rating code for this item, except to the extent
              that problems with the protective coating system are indicative of problems with the underlying joint material.
            </p>
            <br />
            <p>In cases where the joint is not visible, the condition can be assessed based on other indirect indicators of the condition.</p>
          </div>
        </div>
        <div id="bridge-joints-pg2" class="bridge-joints-containers active" style="display: block">
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">N</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">NOT APPLICABLE</span>Bridge does not have deck joints.
            </p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">9</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">EXCELLENT</span>Isolated inherent defects.
            </p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">8</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">VERY GOOD</span>Some inherent defects.
            </p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">7</span>
            <p class="content-container-rating-description-and-condition-bubble"><span class="content-container-rating-condition-bubble">GOOD</span>Some minor defects.</p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">6</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">SATISFACTORY</span>Widespread minor or isolated moderate defects.
            </p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">5</span>
            <p class="content-container-rating-description-and-condition-bubble"><span class="content-container-rating-condition-bubble">FAIR</span>Some moderate defects.</p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">4</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">POOR</span>Widespread moderate or isolated major defects.
            </p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">3</span>
            <p class="content-container-rating-description-and-condition-bubble"><span class="content-container-rating-condition-bubble">SERIOUS</span>Some major defects.</p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">2</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">CRITICAL</span>Widespread major defects.
            </p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">1</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">IMMINENT FAILURE</span>Joints have failed and are ineffective.
            </p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">0</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">FAILED</span>Joints have failed and present a safety hazard.
            </p>
          </div>
        </div>
        <div id="bridge-joints-pg3" class="bridge-joints-containers">
          <div class="content-container-paragraphs">
            <p class="content-container-comment-lines">There are no deficiencies to report.</p>
            <p class="content-container-comment-lines">The bridge has integral abutments.</p>
            <p class="content-container-comment-lines">The bridge has semi-integral abutments.</p>
            <p class="content-container-comment-lines">There are minor- to moderate-width, diagonal cracks propagating from the joint areas.</p>
            <p class="content-container-comment-lines">The joints are partially full of debris.</p>
            <p class="content-container-comment-lines">There are areas of the joints that have been repaired with pourable material.</p>
            <p class="content-container-comment-lines">The joints are leaking.</p>
            <p class="content-container-comment-lines">The joints are leaking throughout.</p>
            <p class="content-container-comment-lines">There are several punctures and a loss of adhesion with the nosing in both the north and south joints.</p>
            <p class="content-container-comment-lines">The joints have multiple areas that have lost adhesion.</p>
            <p class="content-container-comment-lines">The joints have a loss of adhesion throughout.</p>
            <p class="content-container-comment-lines">The joints are full of debris.</p>
          </div>
        </div>
        <div id="bridge-joints-pg4" class="bridge-joints-containers">
          <div class="content-container-paragraphs">
            <p>
              Terminal joints are designed to accommodate thermal movements of integral and semi-integral abutments by allowing expansion to occur between the approach slabs
              and the approach pavement. Terminal joints are only required for integral or semi-integral bridges.
            </p>
            <br />
            <p>
              Previous terminal joint design details for Portland Cement Concrete Pavement (PCCP) used 2 feet of asphalt at the ends of the approach, and there was no design
              detail for HMA pavement adjacent to bridges with approach slabs having integral or semi-integral abutments. Both cases have proven problematic, so to improve
              functionality, new terminal joint design details were introduced in September 2019 with Design Memo 19-10, RSP 503-R-692, and RPD 503-R-692d (now E 503-BATJ
              series).
            </p>
            <br />
            <p>Consider the pavement roughness and ride at the transition between the approach slabs and the approach pavement.</p>
            <br />
            <p>Do not consider if the terminal joint meets the current standard.</p>
          </div>
        </div>
        <div id="bridge-joints-pg5" class="bridge-joints-containers">
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">N</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">NOT APPLICABLE</span>The bridge abutments are not integral or semi-integral. The bridge does not have
              terminal joints.
            </p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">G</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">GOOD</span>The terminal joints do not need maintenance, and meet the current standards.
            </p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">F</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">FAIR</span>The terminal joints do not need maintenance, but do not meet the current standards.
            </p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">P</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">POOR</span>The terminal joints need maintenance.
            </p>
          </div>
        </div>
        <div id="bridge-joints-pg6" class="bridge-joints-containers">
          <div class="content-container-paragraphs">
            <p class="content-container-comment-lines">The terminal joints are in good condition.</p>
            <p class="content-container-comment-lines">The terminal joints present a rough transition to the bridge.</p>
            <p class="content-container-comment-lines">There are no terminal joints at either end.</p>
          </div>
        </div>
        <div id="bridge-joints-pg7" class="bridge-joints-containers">
          <div class="component-elements-container">
            <button id="bridge-joints-elements-btc46" class="component-elements-button2" onclick="openBridgeComponentElements(event, 'bridge-joints-elements-btc46')">
              CS2
            </button>
            <button id="bridge-joints-elements-btc47" class="component-elements-button3" onclick="openBridgeComponentElements(event, 'bridge-joints-elements-btc47')">
              CS3
            </button>
            <button id="bridge-joints-elements-btc48" class="component-elements-button4" onclick="openBridgeComponentElements(event, 'bridge-joints-elements-btc48')">
              CS4
            </button>
            <div class="component-elements-item">300: Strip Seal Expansion Joint</div>
          </div>
          <div class="component-elements-container">
            <button id="bridge-joints-elements-btc49" class="component-elements-button2" onclick="openBridgeComponentElements(event, 'bridge-joints-elements-btc49')">
              CS2
            </button>
            <button id="bridge-joints-elements-btc50" class="component-elements-button3" onclick="openBridgeComponentElements(event, 'bridge-joints-elements-btc50')">
              CS3
            </button>
            <button id="bridge-joints-elements-btc51" class="component-elements-button4" onclick="openBridgeComponentElements(event, 'bridge-joints-elements-btc51')">
              CS4
            </button>
            <div class="component-elements-item">301: Pourable Joint Seal</div>
          </div>
          <div class="component-elements-container">
            <button id="bridge-joints-elements-btc52" class="component-elements-button2" onclick="openBridgeComponentElements(event, 'bridge-joints-elements-btc52')">
              CS2
            </button>
            <button id="bridge-joints-elements-btc53" class="component-elements-button3" onclick="openBridgeComponentElements(event, 'bridge-joints-elements-btc53')">
              CS3
            </button>
            <button id="bridge-joints-elements-btc54" class="component-elements-button4" onclick="openBridgeComponentElements(event, 'bridge-joints-elements-btc54')">
              CS4
            </button>
            <div class="component-elements-item">302: Compression Joint Seal</div>
          </div>
          <div class="component-elements-container">
            <button id="bridge-joints-elements-btc55" class="component-elements-button2" onclick="openBridgeComponentElements(event, 'bridge-joints-elements-btc55')">
              CS2
            </button>
            <button id="bridge-joints-elements-btc56" class="component-elements-button3" onclick="openBridgeComponentElements(event, 'bridge-joints-elements-btc56')">
              CS3
            </button>
            <button id="bridge-joints-elements-btc57" class="component-elements-button4" onclick="openBridgeComponentElements(event, 'bridge-joints-elements-btc57')">
              CS4
            </button>
            <div class="component-elements-item">303: Assembly Joint with Seal (Modular)</div>
          </div>
          <div class="component-elements-container">
            <button id="bridge-joints-elements-btc58" class="component-elements-button2" onclick="openBridgeComponentElements(event, 'bridge-joints-elements-btc58')">
              CS2
            </button>
            <button id="bridge-joints-elements-btc59" class="component-elements-button3" onclick="openBridgeComponentElements(event, 'bridge-joints-elements-btc59')">
              CS3
            </button>
            <button id="bridge-joints-elements-btc60" class="component-elements-button4" onclick="openBridgeComponentElements(event, 'bridge-joints-elements-btc60')">
              CS4
            </button>
            <div class="component-elements-item">304: Open Expansion Joint</div>
          </div>
          <div class="component-elements-container">
            <button id="bridge-joints-elements-btc61" class="component-elements-button2" onclick="openBridgeComponentElements(event, 'bridge-joints-elements-btc61')">
              CS2
            </button>
            <button id="bridge-joints-elements-btc62" class="component-elements-button3" onclick="openBridgeComponentElements(event, 'bridge-joints-elements-btc62')">
              CS3
            </button>
            <button id="bridge-joints-elements-btc63" class="component-elements-button4" onclick="openBridgeComponentElements(event, 'bridge-joints-elements-btc63')">
              CS4
            </button>
            <div class="component-elements-item">305: Assembly Joint without Seal</div>
          </div>
          <div class="component-elements-container">
            <button id="bridge-joints-elements-btc64" class="component-elements-button2" onclick="openBridgeComponentElements(event, 'bridge-joints-elements-btc64')">
              CS2
            </button>
            <button id="bridge-joints-elements-btc65" class="component-elements-button3" onclick="openBridgeComponentElements(event, 'bridge-joints-elements-btc65')">
              CS3
            </button>
            <button id="bridge-joints-elements-btc66" class="component-elements-button4" onclick="openBridgeComponentElements(event, 'bridge-joints-elements-btc66')">
              CS4
            </button>
            <div class="component-elements-item">306: Other Joint</div>
          </div>
        </div>
        <div id="bridge-joints-pg8" class="bridge-joints-containers">
          <div class="component-maintenance-container">
            <button id="bridge-joints-maintenance-bt1" class="component-maintenance-button1" onclick="openBridgeComponentMaintenance(event, 'bridge-joints-maintenance-bt1')">
              +
            </button>
            <button id="bridge-joints-maintenance-bt2" class="component-maintenance-button2" onclick="openBridgeComponentMaintenance(event, 'bridge-joints-maintenance-bt2')">
              +
            </button>
            <button id="bridge-joints-maintenance-bt3" class="component-maintenance-button3" onclick="openBridgeComponentMaintenance(event, 'bridge-joints-maintenance-bt3')">
              +
            </button>
            <button id="bridge-joints-maintenance-bt4" class="component-maintenance-button4" onclick="openBridgeComponentMaintenance(event, 'bridge-joints-maintenance-bt4')">
              +
            </button>
            <div class="component-maintenance-item">Joint Repair</div>
          </div>
        </div>
      </div>
      <div class="main-content-containers">
        <h3 class="content-container-links-line-label">Links:</h3>
        <a
          class="content-container-links-line-links"
          rel="noopener noreferrer"
          target="”_tab”"
          href="https://www.fhwa.dot.gov/bridge/snbi/snbi_march_2022_publication.pdf#page=275"
          >SNBI</a
        >
        <a
          class="content-container-links-line-links"
          rel="noopener noreferrer"
          target="”_tab”"
          href="https://www.in.gov/dot/div/contracts/standards/bridge_inspection/inspector_manual/index.htm"
          >BIM</a
        >
        <a
          id="footerStop"
          class="content-container-links-line-links"
          rel="noopener noreferrer"
          target="”_tab”"
          href="https://www.in.gov/dot/div/contracts/standards/bridge_inspection/pubs/1995%20Recording%20and%20Coding%20Guide%20for%20the%20Structural%20Inventory%20and%20Appraisal%20of%20the%20Nations%20Bridges.pdf"
          >Coding Guide</a
        >
        <a
          id="footerStop"
          class="content-container-links-line-links"
          rel="noopener noreferrer"
          target="”_tab”"
          href="https://www.in.gov/dot/div/contracts/standards/drawings/index.html"
          >Standard Drawings</a
        >
        <a
          id="footerStop"
          class="content-container-links-line-links"
          rel="noopener noreferrer"
          target="”_tab”"
          href="https://www.in.gov/dot/div/contracts/standards/memos/2019/19-10%20ta%20Terminal%20Joints.pdf"
          >Design Memo 19-10</a
        >
      </div>
      <div class="main-content-containers">
        <p class="paragraph-rating">Bridge Joints Comments:</p>
        <div class="content-container-paragraphs">
          <div class="textarea-containers">
            <div class="textarea-mirrors">
              <textarea id="BC08-textarea" class="textarea-comments" name="Bridge Joints" rows="1" oninput="expandTextarea(event, 'BC08-textarea')"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="main-content-containers">
        <p class="paragraph-rating">Terminal Joints Comments:</p>
        <div class="content-container-paragraphs">
          <div class="textarea-containers">
            <div class="textarea-mirrors">
              <textarea id="BC08a-textarea" class="textarea-comments" name="Terminal Joints" rows="1" oninput="expandTextarea(event, 'BC08a-textarea')"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

