<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewpoint" content="width=device-width" />
    <title>Approach Slabs Tab</title>
    <link rel="icon" href="../media/logo-rings-only-purple.png" />

    <!-- CSS -->
    <link rel="stylesheet" href="../styles/foundations.css" />
    <link rel="stylesheet" href="../styles/components.css" />
    <!-- JS -->
    <script type="text/javascript" src="../scripts/scripts.js" defer></script>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=DMCSSans:opsz@9..40&family=Roboto&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet" />
    <!-- Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=MaterialCSSymbolsCSOutlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  </head>
  <body style="background-color: rgb(58 73 95 / 0.9); background-image: none">
    <div id="bridge-approach-slabs-tab" class="bridge-component-containers active" style="display: block">
      <div class="main-content-containers">
        <button class="bridge-approach-buttons" data-target="bridge-approach-pg1" data-container-class="bridge-approach-containers" data-button-class="bridge-approach-buttons">Approach Slabs (B.C.01b)</button>
        <button class="bridge-approach-buttons active" data-target="bridge-approach-pg2" data-container-class="bridge-approach-containers" data-button-class="bridge-approach-buttons">Rating Table</button>
        <button class="bridge-approach-buttons" data-target="bridge-approach-pg3" data-container-class="bridge-approach-containers" data-button-class="bridge-approach-buttons">Example Comments</button> |
        <button class="bridge-approach-buttons" data-target="bridge-approach-pg4" data-container-class="bridge-approach-containers" data-button-class="bridge-approach-buttons">Elements</button>
        <button class="bridge-approach-buttons" data-target="bridge-approach-pg5" data-container-class="bridge-approach-containers" data-button-class="bridge-approach-buttons">Maintenance</button>
      </div>
      <div class="main-content-containers">
        <div id="bridge-approach-pg1" class="bridge-approach-containers">
          <div class="content-container-paragraphs">
            <p>
              Use destructive or non-destructive testing results or visual condition indicators of materials covering the surfaces being assessed when top is not visible for
              assessment. Past inspection reports and repair records may also provide supplemental information to aid in the determination of the condition rating.
            </p>
            <br />
            <p>Consider the settlement of the approach slab. Use any indicators present to determine the stability of the soil beneath the slab.</p>
            <br />
            <p>Consider the roughness and ride provided by the approach slab.</p>
          </div>
        </div>
        <div id="bridge-approach-pg2" class="bridge-approach-containers active" style="display: block">
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">N</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">NOT APPLICABLE</span>Bridge does not have approach slabs.
            </p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">9</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">EXCELLENT</span>Isolated inherent defects.
            </p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">8</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">VERY GOOD</span>Some inherent defects.
            </p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">7</span>
            <p class="content-container-rating-description-and-condition-bubble"><span class="content-container-rating-condition-bubble">GOOD</span>Some minor defects.</p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">6</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">SATISFACTORY</span>Widespread minor or isolated moderate defects.
            </p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">5</span>
            <p class="content-container-rating-description-and-condition-bubble"><span class="content-container-rating-condition-bubble">FAIR</span>Some moderate defects.</p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">4</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">POOR</span>Widespread moderate or isolated major defects.
            </p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">3</span>
            <p class="content-container-rating-description-and-condition-bubble"><span class="content-container-rating-condition-bubble">SERIOUS</span>Some major defects.</p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">2</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">CRITICAL</span>Widespread major defects.
            </p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">1</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">IMMINENT FAILURE</span>Approach slabs have failed and are ineffective.
            </p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">0</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">FAILED</span>Approach slabs have failed and present a safety hazard.
            </p>
          </div>
        </div>
        <div id="bridge-approach-pg3" class="bridge-approach-containers">
          <div class="content-container-paragraphs">
            <p class="content-container-comment-lines">There are no deficiencies to report.</p>
            <p class="content-container-comment-lines">The approach slabs are in good condition.</p>
            <p class="content-container-comment-lines">The approach slabs have been covered with bituminous material.</p>
            <p class="content-container-comment-lines">There are sealed cracks in the approach slabs.</p>
            <p class="content-container-comment-lines">There are sound concrete patches in the approach slabs.</p>
            <p class="content-container-comment-lines">There is a bituminous patch in the north approach slab.</p>
            <p class="content-container-comment-lines">There is a void under the south approach slab at the southwest corner of the bridge.</p>
            <p class="content-container-comment-lines">There is minor settlement of the approach slabs.</p>
            <p class="content-container-comment-lines">No significant settlement has occurred.</p>
          </div>
        </div>
        <div id="bridge-approach-pg4" class="bridge-approach-containers">
          <div id="approach-elements-container">
            <div class="component-elements-container">
              <button id="bridge-approach-elements-bt1" class="component-elements-button2" onclick="openBridgeComponentElements(event, 'bridge-approach-elements-bt1')">
                CS2
              </button>
              <button id="bridge-approach-elements-bt2" class="component-elements-button3" onclick="openBridgeComponentElements(event, 'bridge-approach-elements-bt2')">
                CS3
              </button>
              <button id="bridge-approach-elements-bt3" class="component-elements-button4" onclick="openBridgeComponentElements(event, 'bridge-approach-elements-bt3')">
                CS4
              </button>
              <div class="component-elements-item">320: Prestressed Concrete Approach Slab</div>
            </div>
            <div class="component-elements-container">
              <button id="bridge-approach-elements-bt4" class="component-elements-button2" onclick="openBridgeComponentElements(event, 'bridge-approach-elements-bt4')">
                CS2
              </button>
              <button id="bridge-approach-elements-bt5" class="component-elements-button3" onclick="openBridgeComponentElements(event, 'bridge-approach-elements-bt5')">
                CS3
              </button>
              <button id="bridge-approach-elements-bt6" class="component-elements-button4" onclick="openBridgeComponentElements(event, 'bridge-approach-elements-bt6')">
                CS4
              </button>
              <div class="component-elements-item">321: Reinforced Concrete Approach Slab</div>
            </div>
          </div>
        </div>
        <div id="bridge-approach-pg5" class="bridge-approach-containers">
          <div class="component-maintenance-container">
            <button
              id="bridge-approach-maintenance-bt1"
              class="component-maintenance-button1"
              onclick="openBridgeComponentMaintenance(event, 'bridge-approach-maintenance-bt1')"
            >
              +
            </button>
            <button
              id="bridge-approach-maintenance-bt2"
              class="component-maintenance-button2"
              onclick="openBridgeComponentMaintenance(event, 'bridge-approach-maintenance-bt2')"
            >
              +
            </button>
            <button
              id="bridge-approach-maintenance-bt3"
              class="component-maintenance-button3"
              onclick="openBridgeComponentMaintenance(event, 'bridge-approach-maintenance-bt3')"
            >
              +
            </button>
            <button
              id="bridge-approach-maintenance-bt4"
              class="component-maintenance-button4"
              onclick="openBridgeComponentMaintenance(event, 'bridge-approach-maintenance-bt4')"
            >
              +
            </button>
            <div class="component-maintenance-item">Approach Repair</div>
          </div>
        </div>
      </div>
      <div class="main-content-containers">
        <h3 class="content-container-links-line-label">Links:</h3>
        <a class="content-container-links-line-links" rel="noopener noreferrer" target="”_tab”" href="https://www.fhwa.dot.gov/bridge/snbi/snbi_march_2022_publication.pdf"
          >SNBI</a
        >
        <a
          class="content-container-links-line-links"
          rel="noopener noreferrer"
          target="”_tab”"
          href="https://www.in.gov/dot/div/contracts/standards/bridge_inspection/inspector_manual/index.htm"
          >BIM</a
        >
        <a
          id="footerStop"
          class="content-container-links-line-links"
          rel="noopener noreferrer"
          target="”_tab”"
          href="https://www.in.gov/dot/div/contracts/standards/bridge_inspection/pubs/1995%20Recording%20and%20Coding%20Guide%20for%20the%20Structural%20Inventory%20and%20Appraisal%20of%20the%20Nations%20Bridges.pdf"
          >Coding Guide</a
        >
        <a
          id="footerStop"
          class="content-container-links-line-links"
          rel="noopener noreferrer"
          target="”_tab”"
          href="https://www.in.gov/dot/div/contracts/standards/drawings/index.html"
          >Standard Drawings</a
        >
      </div>
      <div class="main-content-containers">
        <p class="paragraph-rating">Approach Slab Comments:</p>
        <div class="content-container-paragraphs">
          <div class="textarea-containers">
            <div class="textarea-mirrors">
              <textarea id="BC01b-textarea" class="textarea-comments" name="Approach Slab" rows="1" oninput="expandTextarea(event, 'BC01b-textarea')"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

