<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewpoint" content="width=device-width" />
    <title>Wall Tab</title>
    <link rel="icon" href=".\media\logo-rings-only-purple.png" />

    <!-- CSS -->
    <link rel="stylesheet" href="styles/foundations.css" />
    <link rel="stylesheet" href="styles/components.css" />
    <!-- JS -->
    <script src="./scripts/modules/dropdownMenus.mjs" defer></script>
    <script src="./scripts/modules/snbi.mjs" defer></script>
    <script src="./scripts/modules/modal.mjs" defer></script>
    <script src="./scripts/modules/assetdata.mjs" defer></script>
    <script src="./scripts/modules/ratingForms.mjs" defer></script>
    <script type="text/javascript" src="./scripts/scripts.js" defer></script>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=DMCSSans:opsz@9..40&family=Roboto&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet" />
    <!-- Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=MaterialCSSymbolsCSOutlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  </head>
  <body style="background-color: rgb(58 73 95 / 0.9); background-image: none">
    <div id="wall-asset-tab" class="asset-containers active" style="display: block">
      <div class="main-content-containers">
        <button class="wall-item-buttons active" onclick="openWallItem(event, 'wall-rating-guidelines-tab')">Rating Guidance</button>
        <button class="wall-item-buttons" onclick="openWallItem(event, 'wall-naming-conventions-tab')">Naming Convention</button>
      </div>
      <div id="wall-rating-guidelines-tab" class="wall-item-containers active" style="display: block">
        <div class="wall-numeric-ratings-container">
          <div class="main-content-containers wall-rating-flex-items">Rating stuff goes here.</div>
        </div>
      </div>
      <div id="wall-naming-conventions-tab" class="wall-item-containers">
        <div class="wall-numeric-ratings-container">
          <div class="main-content-containers wall-rating-flex-items">Naming stuff goes here.</div>
        </div>
      </div>
    </div>
  </body>
</html>

