<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewpoint" content="width=device-width" />
    <title>Railings Tab</title>
    <link rel="icon" href="../media/logo-rings-only-purple.png" />

    <!-- CSS -->
    <link rel="stylesheet" href="../styles/foundations.css" />
    <link rel="stylesheet" href="../styles/components.css" />
    <!-- JS -->
    <script src="../scripts/modules/dropdownMenus.mjs" defer></script>
    <script src="../scripts/modules/snbi.mjs" defer></script>
    <script src="../scripts/modules/modal.mjs" defer></script>
    <script src="../scripts/modules/assetdata.mjs" defer></script>
    <script src="../scripts/modules/ratingForms.mjs" defer></script>
    <script type="text/javascript" src="../scripts/scripts.js" defer></script>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=DMCSSans:opsz@9..40&family=Roboto&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet" />
    <!-- Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=MaterialCSSymbolsCSOutlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  </head>
  <body style="background-color: rgb(58 73 95 / 0.9); background-image: none">
    <div id="bridge-railings-tab" class="bridge-component-containers active" style="display: block">
      <div class="main-content-containers">
        <button class="bridge-railings-buttons" data-target="bridge-railings-pg1" data-container-class="bridge-railings-containers" data-button-class="bridge-railings-buttons">Bridge Railings (B.C.05)</button>
        <button class="bridge-railings-buttons active" data-target="bridge-railings-pg2" data-container-class="bridge-railings-containers" data-button-class="bridge-railings-buttons">Rating Table</button>
        <button class="bridge-railings-buttons" data-target="bridge-railings-pg3" data-container-class="bridge-railings-containers" data-button-class="bridge-railings-buttons">Example Comments</button>
        <button class="bridge-railings-buttons alt-buttons" data-target="bridge-railings-pg4" data-container-class="bridge-railings-containers" data-button-class="bridge-railings-buttons">Bridge Railing Transitions (B.C.06)</button>
        <button class="bridge-railings-buttons alt-buttons" data-target="bridge-railings-pg5" data-container-class="bridge-railings-containers" data-button-class="bridge-railings-buttons">Rating Table</button>
        <button class="bridge-railings-buttons alt-buttons" data-target="bridge-railings-pg6" data-container-class="bridge-railings-containers" data-button-class="bridge-railings-buttons">Example Comments</button> |
        <button class="bridge-railings-buttons" data-target="bridge-railings-pg7" data-container-class="bridge-railings-containers" data-button-class="bridge-railings-buttons">Elements</button>
        <button class="bridge-railings-buttons" data-target="bridge-railings-pg8" data-container-class="bridge-railings-containers" data-button-class="bridge-railings-buttons">Maintenance</button>
      </div>
      <div class="main-content-containers">
        <div id="bridge-railings-pg1" class="bridge-railings-containers">
          <div class="content-container-paragraphs">
            <p>
              This item addresses the condition of all types and shapes of bridge railings (parapets, median barriers, or structure mounted) located on the bridge or that cross
              over buried structures. The condition assessment includes the portions of the railings, posts, blocking, and curbs that are part of the bridge railing system.
            </p>
            <br />

            <p>Do not consider pedestrian railings when coding this item, except to the extent that the pedestrian railing is integral to the traffic barrier.</p>
            <br />

            <p>
              Do not consider the condition of protective coatings and other protection systems when determining the condition rating code for this item, except to the extent
              that problems with the protective coating system are indicative of problems with the underlying railing material.
            </p>
          </div>
        </div>
        <div id="bridge-railings-pg2" class="bridge-railings-containers active" style="display: block">
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">N</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">NOT APPLICABLE</span>Component does not exist.
            </p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">9</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">EXCELLENT</span>Isolated inherent defects.
            </p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">8</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">VERY GOOD</span>Some inherent defects.
            </p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">7</span>
            <p class="content-container-rating-description-and-condition-bubble"><span class="content-container-rating-condition-bubble">GOOD</span>Some minor defects.</p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">6</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">SATISFACTORY</span>Widespread minor or isolated moderate defects.
            </p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">5</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">FAIR</span>Some moderate defects; strength and performance of the component are not affected.
            </p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">4</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">POOR</span>Widespread moderate or isolated major defects; strength and/or performance of the component is
              affected.
            </p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">3</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">SERIOUS</span>Major defects; strength and/or performance of the component is seriously affected. Condition
              typically necessitates more frequent monitoring, load restrictions, and/or corrective actions.
            </p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">2</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">CRITICAL</span>Major defects; component is severely compromised. Condition typically necessitates frequent
              monitoring, significant load restrictions, and/or corrective actions in order to keep the bridge open.
            </p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">1</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">IMMINENT FAILURE</span>Bridge is closed to traffic due to component condition. Repair or rehabilitation
              may return the bridge to service.
            </p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">0</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">FAILED</span>Bridge is closed due to component condition, and is beyond corrective action. Replacement is
              required to restore service.
            </p>
          </div>
        </div>
        <div id="bridge-railings-pg3" class="bridge-railings-containers active">
          <div class="content-container-paragraphs">
            <p class="content-container-comment-lines">There are no deficiencies to report.</p>
            <p class="content-container-comment-lines">There is an isolated area of collision damage.</p>
            <p class="content-container-comment-lines">There are widely spaced hairline vertical cracks in the barrier walls.</p>
          </div>
        </div>
        <div id="bridge-railings-pg4" class="bridge-railings-containers active">
          <div class="content-container-paragraphs">
            <p>
              This item addresses the condition of the transition from the bridge railing to the approach guardrail. The condition assessment includes the portions of the
              railings, posts, blocking, and curbs that are part of the bridge railing transitions.
            </p>
            <br />

            <p>
              Do not consider the condition of protective coatings and other protection systems when determining the condition rating code for this item, except to the extent
              that problems with the protective coating system are indicative of problems with the underlying railing transition material.
            </p>
          </div>
        </div>
        <div id="bridge-railings-pg5" class="bridge-railings-containers active">
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">N</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">NOT APPLICABLE</span>Component does not exist.
            </p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">9</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">EXCELLENT</span>Isolated inherent defects.
            </p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">8</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">VERY GOOD</span>Some inherent defects.
            </p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">7</span>
            <p class="content-container-rating-description-and-condition-bubble"><span class="content-container-rating-condition-bubble">GOOD</span>Some minor defects.</p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">6</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">SATISFACTORY</span>Widespread minor or isolated moderate defects.
            </p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">5</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">FAIR</span>Some moderate defects; strength and performance of the component are not affected.
            </p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">4</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">POOR</span>Widespread moderate or isolated major defects; strength and/or performance of the component is
              affected.
            </p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">3</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">SERIOUS</span>Major defects; strength and/or performance of the component is seriously affected. Condition
              typically necessitates more frequent monitoring, load restrictions, and/or corrective actions.
            </p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">2</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">CRITICAL</span>Major defects; component is severely compromised. Condition typically necessitates frequent
              monitoring, significant load restrictions, and/or corrective actions in order to keep the bridge open.
            </p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">1</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">IMMINENT FAILURE</span>Bridge is closed to traffic due to component condition. Repair or rehabilitation
              may return the bridge to service.
            </p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">0</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">FAILED</span>Bridge is closed due to component condition, and is beyond corrective action. Replacement is
              required to restore service.
            </p>
          </div>
        </div>
        <div id="bridge-railings-pg6" class="bridge-railings-containers active">
          <div class="content-container-paragraphs">
            <p class="content-container-comment-lines">There are no deficiencies to report.</p>
            <p class="content-container-comment-lines">The transition is functioning as designed.</p>
            <p class="content-container-comment-lines">There is some collision damage in the railing at the transition.</p>
          </div>
        </div>
        <div id="bridge-railings-pg7" class="bridge-railings-containers">
          <div class="component-elements-container">
            <button id="bridge-railings-elements-btc31" class="component-elements-button2" onclick="openBridgeComponentElements(event, 'bridge-railings-elements-btc31')">
              CS2
            </button>
            <button id="bridge-railings-elements-btc32" class="component-elements-button3" onclick="openBridgeComponentElements(event, 'bridge-railings-elements-btc32')">
              CS3
            </button>
            <button id="bridge-railings-elements-btc33" class="component-elements-button4" onclick="openBridgeComponentElements(event, 'bridge-railings-elements-btc33')">
              CS4
            </button>
            <div class="component-elements-item">330: Metal Bridge Rail</div>
          </div>
          <div class="component-elements-container">
            <button id="bridge-railings-elements-btc34" class="component-elements-button2" onclick="openBridgeComponentElements(event, 'bridge-railings-elements-btc34')">
              CS2
            </button>
            <button id="bridge-railings-elements-btc35" class="component-elements-button3" onclick="openBridgeComponentElements(event, 'bridge-railings-elements-btc35')">
              CS3
            </button>
            <button id="bridge-railings-elements-btc36" class="component-elements-button4" onclick="openBridgeComponentElements(event, 'bridge-railings-elements-btc36')">
              CS4
            </button>
            <div class="component-elements-item">331: Reinforced Concrete Bridge Rail</div>
          </div>
          <div class="component-elements-container">
            <button id="bridge-railings-elements-btc37" class="component-elements-button2" onclick="openBridgeComponentElements(event, 'bridge-railings-elements-btc37')">
              CS2
            </button>
            <button id="bridge-railings-elements-btc38" class="component-elements-button3" onclick="openBridgeComponentElements(event, 'bridge-railings-elements-btc38')">
              CS3
            </button>
            <button id="bridge-railings-elements-btc39" class="component-elements-button4" onclick="openBridgeComponentElements(event, 'bridge-railings-elements-btc39')">
              CS4
            </button>
            <div class="component-elements-item">332: Timber Bridge Rail</div>
          </div>
          <div class="component-elements-container">
            <button id="bridge-railings-elements-btc40" class="component-elements-button2" onclick="openBridgeComponentElements(event, 'bridge-railings-elements-btc40')">
              CS2
            </button>
            <button id="bridge-railings-elements-btc41" class="component-elements-button3" onclick="openBridgeComponentElements(event, 'bridge-railings-elements-btc41')">
              CS3
            </button>
            <button id="bridge-railings-elements-btc42" class="component-elements-button4" onclick="openBridgeComponentElements(event, 'bridge-railings-elements-btc42')">
              CS4
            </button>
            <div class="component-elements-item">333: Other Bridge Rail</div>
          </div>
          <div class="component-elements-container">
            <button id="bridge-railings-elements-btc43" class="component-elements-button2" onclick="openBridgeComponentElements(event, 'bridge-railings-elements-btc43')">
              CS2
            </button>
            <button id="bridge-railings-elements-btc44" class="component-elements-button3" onclick="openBridgeComponentElements(event, 'bridge-railings-elements-btc44')">
              CS3
            </button>
            <button id="bridge-railings-elements-btc45" class="component-elements-button4" onclick="openBridgeComponentElements(event, 'bridge-railings-elements-btc45')">
              CS4
            </button>
            <div class="component-elements-item">334: Masonry Bridge Rail</div>
          </div>
        </div>
        <div id="bridge-railings-pg8" class="bridge-railings-containers">
          <div class="component-maintenance-container">
            <button
              id="bridge-railings-maintenance-bt1"
              class="component-maintenance-button1"
              onclick="openBridgeComponentMaintenance(event, 'bridge-railings-maintenance-bt1')"
            >
              +
            </button>
            <button
              id="bridge-railings-maintenance-bt2"
              class="component-maintenance-button2"
              onclick="openBridgeComponentMaintenance(event, 'bridge-railings-maintenance-bt2')"
            >
              +
            </button>
            <button
              id="bridge-railings-maintenance-bt3"
              class="component-maintenance-button3"
              onclick="openBridgeComponentMaintenance(event, 'bridge-railings-maintenance-bt3')"
            >
              +
            </button>
            <button
              id="bridge-railings-maintenance-bt4"
              class="component-maintenance-button4"
              onclick="openBridgeComponentMaintenance(event, 'bridge-railings-maintenance-bt4')"
            >
              +
            </button>
            <div class="component-maintenance-item">Attenuator Repair</div>
          </div>
          <div class="component-maintenance-container">
            <button
              id="bridge-railings-maintenance-bt5"
              class="component-maintenance-button1"
              onclick="openBridgeComponentMaintenance(event, 'bridge-railings-maintenance-bt5')"
            >
              +
            </button>
            <button
              id="bridge-railings-maintenance-bt6"
              class="component-maintenance-button2"
              onclick="openBridgeComponentMaintenance(event, 'bridge-railings-maintenance-bt6')"
            >
              +
            </button>
            <button
              id="bridge-railings-maintenance-bt7"
              class="component-maintenance-button3"
              onclick="openBridgeComponentMaintenance(event, 'bridge-railings-maintenance-bt7')"
            >
              +
            </button>
            <button
              id="bridge-railings-maintenance-bt8"
              class="component-maintenance-button4"
              onclick="openBridgeComponentMaintenance(event, 'bridge-railings-maintenance-bt8')"
            >
              +
            </button>
            <div class="component-maintenance-item">Graffiti Removal</div>
          </div>
          <div class="component-maintenance-container">
            <button
              id="bridge-railings-maintenance-bt9"
              class="component-maintenance-button1"
              onclick="openBridgeComponentMaintenance(event, 'bridge-railings-maintenance-bt9')"
            >
              +
            </button>
            <button
              id="bridge-railings-maintenance-bt10"
              class="component-maintenance-button2"
              onclick="openBridgeComponentMaintenance(event, 'bridge-railings-maintenance-bt10')"
            >
              +
            </button>
            <button
              id="bridge-railings-maintenance-bt11"
              class="component-maintenance-button3"
              onclick="openBridgeComponentMaintenance(event, 'bridge-railings-maintenance-bt11')"
            >
              +
            </button>
            <button
              id="bridge-railings-maintenance-bt12"
              class="component-maintenance-button4"
              onclick="openBridgeComponentMaintenance(event, 'bridge-railings-maintenance-bt12')"
            >
              +
            </button>
            <div class="component-maintenance-item">Guardrail / Barrier Wall Repair</div>
          </div>
        </div>
      </div>
      <div class="main-content-containers">
        <h3 class="content-container-links-line-label">Links:</h3>
        <a
          class="content-container-links-line-links"
          rel="noopener noreferrer"
          target="”_tab”"
          href="https://www.fhwa.dot.gov/bridge/snbi/snbi_march_2022_publication.pdf#page=271"
          >SNBI</a
        >
        |
        <a
          class="content-container-links-line-links"
          rel="noopener noreferrer"
          target="”_tab”"
          href="https://www.fhwa.dot.gov/bridge/snbi/snbi_march_2022_publication.pdf#page=272"
          >SNBI</a
        >
        <a
          class="content-container-links-line-links"
          rel="noopener noreferrer"
          target="”_tab”"
          href="https://www.in.gov/dot/div/contracts/standards/bridge_inspection/inspector_manual/index.htm"
          >BIM</a
        >
        <a
          id="footerStop"
          class="content-container-links-line-links"
          rel="noopener noreferrer"
          target="”_tab”"
          href="https://www.in.gov/dot/div/contracts/standards/bridge_inspection/pubs/1995%20Recording%20and%20Coding%20Guide%20for%20the%20Structural%20Inventory%20and%20Appraisal%20of%20the%20Nations%20Bridges.pdf"
          >Coding Guide</a
        >
        <a
          id="footerStop"
          class="content-container-links-line-links"
          rel="noopener noreferrer"
          target="”_tab”"
          href="https://www.in.gov/dot/div/contracts/standards/drawings/index.html"
          >Standard Drawings</a
        >
      </div>
      <div class="main-content-containers">
        <p class="paragraph-rating">Bridge Railing Comments:</p>
        <div class="content-container-paragraphs">
          <div class="textarea-containers">
            <div class="textarea-mirrors">
              <textarea id="BC05-textarea" class="textarea-comments" name="Bridge Railing" rows="1" oninput="expandTextarea(event, 'BC05-textarea')"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="main-content-containers">
        <p class="paragraph-rating">Bridge Railing Transition Comments:</p>
        <div class="content-container-paragraphs">
          <div class="textarea-containers">
            <div class="textarea-mirrors">
              <textarea id="BC06-textarea" class="textarea-comments" name="Bridge Railing Transitions" rows="1" oninput="expandTextarea(event, 'BC06-textarea')"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

