<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewpoint" content="width=device-width" />
    <title>Alignment Tab</title>
    <link rel="icon" href=".\media\logo-rings-only-purple.png" />

    <!-- CSS -->
    <link rel="stylesheet" href="styles/foundations.css" />
    <link rel="stylesheet" href="styles/components.css" />
    <!-- JS -->
    <script src="./scripts/modules/dropdownMenus.mjs" defer></script>
    <script src="./scripts/modules/snbi.mjs" defer></script>
    <script src="./scripts/modules/modal.mjs" defer></script>
    <script src="./scripts/modules/assetdata.mjs" defer></script>
    <script src="./scripts/modules/ratingForms.mjs" defer></script>
    <script type="text/javascript" src="./scripts/scripts.js" defer></script>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=DMCSSans:opsz@9..40&family=Roboto&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet" />
    <!-- Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=MaterialCSSymbolsCSOutlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  </head>
  <body style="background-color: rgb(58 73 95 / 0.9); background-image: none">
    <div id="bridge-alignment-tab" class="bridge-component-containers active" style="display: block">
      <div class="main-content-containers">
        <button class="bridge-alignment-buttons" onclick="openBridgeAlignment(event, 'bridge-alignment-pg1')">Approach Roadway Alignment (B.AP.01)</button>
        <button class="bridge-alignment-buttons active" onclick="openBridgeAlignment(event, 'bridge-alignment-pg2')">Rating Table</button>
        <button class="bridge-alignment-buttons" onclick="openBridgeAlignment(event, 'bridge-alignment-pg3')">Example Comments</button> |
        <button class="bridge-alignment-buttons" onclick="openBridgeAlignment(event, 'bridge-alignment-pg4')">Maintenance</button>
      </div>
      <div class="main-content-containers">
        <div id="bridge-alignment-pg1" class="bridge-alignment-containers">
          <div class="content-container-paragraphs">
            <p>
              This item identifies bridges that do not function adequately due to the horizontal or vertical alignment of the bridge and approach roadway. It is not intended
              that the alignment be compared to current standards, but rather to the existing roadway alignment.
            </p>
            <br />
            <p>
              The basic criterion is how the alignment of the bridge and approach roadway relates to the general highway alignment for the section of highway the bridge
              carries.
            </p>
            <br />
            <p>Do not consider speed reductions due to the bridge width or intersecting highways when reporting this item.</p>
            <br />
            <p>The operating speed reduction is in comparison to the posted speed limit for the highway segment:</p>
            <ul class="content-container-paragraphs-ul">
              <li>Use code G when the operating speed is no different at the bridge than the rest of the highway segment that crosses the bridge.</li>
              <li>Use code F when the operating speed is noticeably different at the bridge than the rest of the highway segment that crosses the bridge.</li>
              <li>Use code P when the operating speed is substantially different at the bridge than the rest of the highway segment that crosses the bridge.</li>
            </ul>
          </div>
        </div>

        <div id="bridge-alignment-pg2" class="bridge-alignment-containers active" style="display: block">
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">N</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">NOT APPLICABLE</span>The bridge does not carry vehicular traffic and does not have an operating speed.
            </p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">G</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">GOOD</span>The operating speed at the bridge is no different than the rest of the highway segment.
            </p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">F</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">FAIR</span>The operating speed at the bridge is noticeably different compared to the rest of the highway
              segment.
            </p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">P</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">POOR</span>The operating speed at the bridge is substantially different compared to the rest of the
              highway segment.
            </p>
          </div>
        </div>

        <div id="bridge-alignment-pg3" class="bridge-alignment-containers">
          <div class="content-container-paragraphs">
            <p class="content-container-comment-lines">No speed reduction necessary.</p>
            <p class="content-container-comment-lines">A minor reduction of speed is expected due to the roadway geometry.</p>
            <p class="content-container-comment-lines">Nearby roadway features cause changes in acceleration at the bridge.</p>
            <p class="content-container-comment-lines">There is an intersection at the north approach.</p>
            <p class="content-container-comment-lines">The bridge is at a traffic light and carries a portion of the queue.</p>
            <p class="content-container-comment-lines">The bridge is in a horizontal curve that is superelevated on the west side.</p>
            <p class="content-container-comment-lines">The bridge is in a sag vertical curve.</p>
            <p class="content-container-comment-lines">The bridge is in a crest vertical curve.</p>
          </div>
        </div>

        <div id="bridge-alignment-pg4" class="bridge-alignment-containers">
          <div class="component-maintenance-container">
            <button
              id="bridge-alignment-maintenance-bt1"
              class="component-maintenance-button1"
              onclick="openBridgeComponentMaintenance(event, 'bridge-alignment-maintenance-bt1')"
            >
              +
            </button>
            <button
              id="bridge-alignment-maintenance-bt2"
              class="component-maintenance-button2"
              onclick="openBridgeComponentMaintenance(event, 'bridge-alignment-maintenance-bt2')"
            >
              +
            </button>
            <button
              id="bridge-alignment-maintenance-bt3"
              class="component-maintenance-button3"
              onclick="openBridgeComponentMaintenance(event, 'bridge-alignment-maintenance-bt3')"
            >
              +
            </button>
            <button
              id="bridge-alignment-maintenance-bt4"
              class="component-maintenance-button4"
              onclick="openBridgeComponentMaintenance(event, 'bridge-alignment-maintenance-bt4')"
            >
              +
            </button>
            <div class="component-maintenance-item">Attenuator Repair</div>
          </div>
          <div class="component-maintenance-container">
            <button
              id="bridge-alignment-maintenance-bt5"
              class="component-maintenance-button1"
              onclick="openBridgeComponentMaintenance(event, 'bridge-alignment-maintenance-bt5')"
            >
              +
            </button>
            <button
              id="bridge-alignment-maintenance-bt6"
              class="component-maintenance-button2"
              onclick="openBridgeComponentMaintenance(event, 'bridge-alignment-maintenance-bt6')"
            >
              +
            </button>
            <button
              id="bridge-alignment-maintenance-bt7"
              class="component-maintenance-button3"
              onclick="openBridgeComponentMaintenance(event, 'bridge-alignment-maintenance-bt7')"
            >
              +
            </button>
            <button
              id="bridge-alignment-maintenance-bt8"
              class="component-maintenance-button4"
              onclick="openBridgeComponentMaintenance(event, 'bridge-alignment-maintenance-bt8')"
            >
              +
            </button>
            <div class="component-maintenance-item">Signage Install / Signage Repair</div>
          </div>
        </div>
      </div>
      <div class="main-content-containers">
        <h3 class="content-container-links-line-label">Links:</h3>
        <a
          class="content-container-links-line-links"
          rel="noopener noreferrer"
          target="”_tab”"
          href="https://www.fhwa.dot.gov/bridge/snbi/snbi_march_2022_publication.pdf#page=318"
          >SNBI</a
        >
        <a
          class="content-container-links-line-links"
          rel="noopener noreferrer"
          target="”_tab”"
          href="https://www.in.gov/dot/div/contracts/standards/bridge_inspection/inspector_manual/index.htm"
          >BIM</a
        >
        <a
          id="footerStop"
          class="content-container-links-line-links"
          rel="noopener noreferrer"
          target="”_tab”"
          href="https://www.in.gov/dot/div/contracts/standards/bridge_inspection/pubs/1995%20Recording%20and%20Coding%20Guide%20for%20the%20Structural%20Inventory%20and%20Appraisal%20of%20the%20Nations%20Bridges.pdf"
          >Coding Guide</a
        >
        <a
          id="footerStop"
          class="content-container-links-line-links"
          rel="noopener noreferrer"
          target="”_tab”"
          href="https://www.in.gov/dot/div/contracts/standards/drawings/index.html"
          >Standard Drawings</a
        >
      </div>
      <div class="main-content-containers">
        <p class="paragraph-rating">Alignment Comments:</p>
        <div class="content-container-paragraphs">
          <div class="textarea-containers">
            <div class="textarea-mirrors">
              <textarea id="BAP01-textarea" class="textarea-comments" name="Approach Roadway Alignment" rows="1" oninput="expandTextarea(event, 'BAP01-textarea')"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

