<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewpoint" content="width=device-width" />
    <title>Wildlife Tab</title>
    <link rel="icon" href="../media/logo-rings-only-purple.png" />

    <!-- CSS -->
    <link rel="stylesheet" href="../styles/foundations.css" />
    <link rel="stylesheet" href="../styles/components.css" />
    <!-- JS -->
    <script src="../scripts/modules/dropdownMenus.mjs" defer></script>
    <script src="../scripts/modules/snbi.mjs" defer></script>
    <script src="../scripts/modules/modal.mjs" defer></script>
    <script src="../scripts/modules/assetdata.mjs" defer></script>
    <script src="../scripts/modules/ratingForms.mjs" defer></script>
    <script type="text/javascript" src="../scripts/scripts.js" defer></script>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=DMCSSans:opsz@9..40&family=Roboto&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet" />
    <!-- Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=MaterialCSSymbolsCSOutlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  </head>
  <body style="background-color: rgb(58 73 95 / 0.9); background-image: none">
    <div id="bridge-wildlife-tab" class="bridge-component-containers active" style="display: block">
      <div class="main-content-containers">
        <button class="bridge-wildlife-buttons" data-target="bridge-wildlife-pg1" data-container-class="bridge-wildlife-containers" data-button-class="bridge-wildlife-buttons">Cliff Swallows</button>
        <button class="bridge-wildlife-buttons active" data-target="bridge-wildlife-pg2" data-container-class="bridge-wildlife-containers" data-button-class="bridge-wildlife-buttons">Rating Table</button>
        <button class="bridge-wildlife-buttons alt-buttons" data-target="bridge-wildlife-pg3" data-container-class="bridge-wildlife-containers" data-button-class="bridge-wildlife-buttons">Bats</button>
        <button class="bridge-wildlife-buttons alt-buttons" data-target="bridge-wildlife-pg4" data-container-class="bridge-wildlife-containers" data-button-class="bridge-wildlife-buttons">Rating Table</button>
      </div>
      <div class="main-content-containers">
        <div id="bridge-wildlife-pg1" class="bridge-wildlife-containers">
          <div class="content-container-paragraphs">
            <p>Information on cliff swallows can be found in Part 9 of the INDOT BIM and in the INDOT Protected Species Guidance. Both documents are linked below.</p>
          </div>
        </div>
        <div id="bridge-wildlife-pg2" class="bridge-wildlife-containers active" style="display: block">
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">N</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">NO</span>No cliff swallows or nests were observed.
            </p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">Y</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">YES</span>Cliff swallows and/or nests were observed.
            </p>
          </div>
        </div>
        <div id="bridge-wildlife-pg3" class="bridge-wildlife-containers">
          <div class="content-container-paragraphs">
            <p>Information on bats can be found in Part 9 of the INDOT BIM and in the INDOT Protected Species Guidance. Both documents are linked below.</p>
            <br />
            <p>
              Bridge/structure inspections must be completed by qualified individuals. In order to become a qualified individual, the INDOT Bat Training must be completed.
              Contact INDOT ESD to request access for completing the INDOT Bat Training.
            </p>
          </div>
        </div>
        <div id="bridge-wildlife-pg4" class="bridge-wildlife-containers">
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">N</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">NO</span>No bats were seen or heard.
            </p>
          </div>
          <div class="content-container-rating-lines">
            <span class="content-container-rating-numerical">Y</span>
            <p class="content-container-rating-description-and-condition-bubble">
              <span class="content-container-rating-condition-bubble">YES</span>Bats and/or guano were observed.
            </p>
          </div>
        </div>
      </div>
      <div class="main-content-containers">
        <h3 class="content-container-links-line-label">Links:</h3>
        <a class="content-container-links-line-links" rel="noopener noreferrer" target="”_tab”" href="https://www.fhwa.dot.gov/bridge/snbi/snbi_march_2022_publication.pdf"
          >SNBI</a
        >
        <a
          class="content-container-links-line-links"
          rel="noopener noreferrer"
          target="”_tab”"
          href="https://www.in.gov/dot/div/contracts/standards/bridge_inspection/inspector_manual/index.htm"
          >BIM</a
        >
        <a
          id="footerStop"
          class="content-container-links-line-links"
          rel="noopener noreferrer"
          target="”_tab”"
          href="https://www.in.gov/dot/div/contracts/standards/bridge_inspection/pubs/1995%20Recording%20and%20Coding%20Guide%20for%20the%20Structural%20Inventory%20and%20Appraisal%20of%20the%20Nations%20Bridges.pdf"
          >Coding Guide</a
        >
        <a
          id="footerStop"
          class="content-container-links-line-links"
          rel="noopener noreferrer"
          target="”_tab”"
          href="https://www.in.gov/dot/div/contracts/standards/drawings/index.html"
          >Standard Drawings</a
        >
        <a
          class="content-container-links-line-links"
          rel="noopener noreferrer"
          target="”_tab”"
          href="https://www.in.gov/dot/div/contracts/standards/bridge_inspection/inspector_manual/Part9-Enviromental%20Concerns.pdf"
          >BIM - Part 9</a
        >
        <a
          id="footerStop"
          class="content-container-links-line-links"
          rel="noopener noreferrer"
          target="”_tab”"
          href="https://www.in.gov/indot/engineering/files/INDOT-Protected-Species-Guidance-March-2021.pdf"
          >Protected Species Guidance</a
        >
      </div>
    </div>
  </body>
</html>

