<div id="bridge-culvert-pg4" class="bridge-bearings-containers">
  <div class="component-elements-container">
    <button id="bridge-culvert-elements-btc07" class="component-elements-button2" onclick="openBridgeComponentElements(event, 'bridge-culvert-elements-btc07')">CS2</button>
    <button id="bridge-culvert-elements-btc08" class="component-elements-button3" onclick="openBridgeComponentElements(event, 'bridge-culvert-elements-btc08')">CS3</button>
    <button id="bridge-culvert-elements-btc09" class="component-elements-button4" onclick="openBridgeComponentElements(event, 'bridge-culvert-elements-btc09')">CS4</button>
    <div class="component-elements-item">240: Steel Culvert</div>
  </div>
  <div class="component-elements-container">
    <button id="bridge-culvert-elements-btc10" class="component-elements-button2" onclick="openBridgeComponentElements(event, 'bridge-culvert-elements-btc10')">CS2</button>
    <button id="bridge-culvert-elements-btc11" class="component-elements-button3" onclick="openBridgeComponentElements(event, 'bridge-culvert-elements-btc11')">CS3</button>
    <button id="bridge-culvert-elements-btc12" class="component-elements-button4" onclick="openBridgeComponentElements(event, 'bridge-culvert-elements-btc12')">CS4</button>
    <div class="component-elements-item">241: Reinforced Concrete Culvert</div>
  </div>
  <div class="component-elements-container">
    <button id="bridge-culvert-elements-btc13" class="component-elements-button2" onclick="openBridgeComponentElements(event, 'bridge-culvert-elements-btc13')">CS2</button>
    <button id="bridge-culvert-elements-btc14" class="component-elements-button3" onclick="openBridgeComponentElements(event, 'bridge-culvert-elements-btc14')">CS3</button>
    <button id="bridge-culvert-elements-btc15" class="component-elements-button4" onclick="openBridgeComponentElements(event, 'bridge-culvert-elements-btc15')">CS4</button>
    <div class="component-elements-item">242: Timber Culvert</div>
  </div>
  <div class="component-elements-container">
    <button id="bridge-culvert-elements-btc16" class="component-elements-button2" onclick="openBridgeComponentElements(event, 'bridge-culvert-elements-btc16')">CS2</button>
    <button id="bridge-culvert-elements-btc17" class="component-elements-button3" onclick="openBridgeComponentElements(event, 'bridge-culvert-elements-btc17')">CS3</button>
    <button id="bridge-culvert-elements-btc18" class="component-elements-button4" onclick="openBridgeComponentElements(event, 'bridge-culvert-elements-btc18')">CS4</button>
    <div class="component-elements-item">243: Other Culvert</div>
  </div>
  <div class="component-elements-container">
    <button id="bridge-culvert-elements-btc19" class="component-elements-button2" onclick="openBridgeComponentElements(event, 'bridge-culvert-elements-btc19')">CS2</button>
    <button id="bridge-culvert-elements-btc20" class="component-elements-button3" onclick="openBridgeComponentElements(event, 'bridge-culvert-elements-btc20')">CS3</button>
    <button id="bridge-culvert-elements-btc21" class="component-elements-button4" onclick="openBridgeComponentElements(event, 'bridge-culvert-elements-btc21')">CS4</button>
    <div class="component-elements-item">244: Masonry Culvert</div>
  </div>
  <div class="component-elements-container">
    <button id="bridge-culvert-elements-btc22" class="component-elements-button2" onclick="openBridgeComponentElements(event, 'bridge-culvert-elements-btc22')">CS2</button>
    <button id="bridge-culvert-elements-btc23" class="component-elements-button3" onclick="openBridgeComponentElements(event, 'bridge-culvert-elements-btc23')">CS3</button>
    <button id="bridge-culvert-elements-btc24" class="component-elements-button4" onclick="openBridgeComponentElements(event, 'bridge-culvert-elements-btc24')">CS4</button>
    <div class="component-elements-item">245: Prestressed Concrete Culvert</div>
  </div>
</div>
