/*   Table of Contents */
/*............ 1. Basic Elements */
/*............ 2. Header & Footer */
/*.............. 2.1 Header Quadrant Flex Layouts */
/*.............. 2.2 Header Links & Buttons */
/*.............. 2.3 Footer & Logo */
/*.............. 2.4 Theme */
/*............ 3. Main Section */
/*.............. 3.1 Main Section Grid Layout */
/*.............. 3.2 Workflow Boxes */
/*.............. 3.3 Workflow Boxes Links */

/*............ 1. Basic Elements */

html,
header,
textarea,
input,
button,
div,
p,
li,
ul {
  font-family: "Ubuntu", sans-serif;
  font-family: "DM Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  border: none;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
  font-family: "DM Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0px 10px 10px 10px;
  margin: 0px 0px 0px 0px;
  padding: 0;
  height: 100%;
}

main {
  position: fixed;
  top: 62px;
  height: calc(100% - 92px - 57px);
  width: calc(100% - 20px);
  width: 100%;
  overflow-y: auto;
}

/*............ 2. Header & Footer */

.header {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  width: 100%;
  height: 40px;
  padding: 10px 0;
  border: none;
  border-bottom: solid 2px grey;
  border-radius: 1px 1px 1px 1px;
  color: rgb(213 213 213);
  z-index: 1;
  overflow: hidden;
  background-color: rgba(20, 20, 73, 0.9);
  background-image: url("../media/light-down-blue3.png");
  background-size: 100px 115px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: calc(100% - 20px); /* minus the padding on both sides */
  width: 100%;
  height: 35px;
  padding: 10px 0;
  border: none;
  border-top: solid 2px grey;
  border-radius: 1px 1px 1px 1px;
  color: rgb(213 213 213);
  z-index: 1;
  overflow: hidden;
  background-color: rgba(20, 20, 73, 0.9);
  background-image: url("../media/light-down-blue3.png");
  background-size: 100px 115px;
}

.divFooterSpacer {
  /* sits above footer to add a little blank space for extra scrolling */
  height: 5px;
  display: block;
  margin-top: 5px;
  background-color: none;
}

/*.............. 2.3 Footer & Logo */

.divwrap {
  position: absolute;
  left: 50%; /* Positions the top-left corner inside the parent */
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%); /* Adjusts the position based on width and height (left, top) */
  width: 320px;
  height: 30px;
}

.div3 {
  margin: auto;
  width: 290px;
  height: 40px;
  text-align: center;
  display: flex;
  padding-left: 0px; /* Margin (auto) and width values allow the object to be centered horizontally inside parent */
}

.iterateimg {
  padding-left: 0px;
  height: 40px;
  width: 40px;
}

.spanclass1 {
  /* Logo */
  width: 30px;
  height: 60px;
  margin: -6px 0 0 0;
  padding: 0 0 0 0;
  border: 3px solid rgb(12, 158, 158, 0);
}
.spanclass2 {
  /* Text */
  width: 290px;
  height: 60px;
  margin: -4px 0 0 0;
  padding: 4px 0 0 0;
  border: 3px solid rgba(245, 144, 144, 0);
}
.iteclass {
  color: rgba(158, 38, 158, 0.7);
  text-shadow: 0 0 4px rgb(0, 0, 0), 3px 3px 4px rgb(0, 0, 0);
  font-family: "Ubuntu", sans-serif;
  font-size: 24px;
  font-weight: bold;
}
.rateclass {
  color: rgba(255, 55, 0, 0.7);
  text-shadow: 0 0 4px rgb(0, 0, 0), 3px 3px 4px rgb(0, 0, 0);
  font-family: "Ubuntu", sans-serif;
  font-size: 24px;
  font-weight: bold;
}
.customdataclass {
  font-size: 12px;
  color: rgb(224, 224, 224);
  vertical-align: 2px;
  text-shadow: 0 0 8px rgb(0, 0, 0), 3px 3px 8px rgb(0, 0, 0);
}

/*.............. 2.4 Theme */

html.themeDark {
  color: rgb(213 213 213);
  background: rgb(42 42 42);
}

main.themeDark {
  color: rgb(213 213 213);
  background: rgb(42 42 42);
  background-color: rgba(42, 42, 42, 0.9);
  background-image: url("../media/light-down-grey5.png");
  background-size: 100px 115px;
}

/*............ 3 Main Section */

/*.............. 3.2 Workflow Boxes */

.mainContentContainer {
  background-color: rgb(69, 69, 69);
  background-color: rgb(79, 79, 79);
  background-color: rgb(20, 20, 73);
  /* color: rgb(202, 199, 18); */
  color: rgb(201 201 201);
  padding: 10px 20px;
  /* font-size: 20px; */
  text-align: left;
  height: fit-content;
  margin: 10px 5px;
  border: solid 2px grey;
  border-radius: 1px;
  background-color: rgba(20, 20, 73, 0.9);
  background-image: url("../media/light-down-blue3.png");
  background-size: 100px 115px;
}

/* ------------------------------------------------------------- */

/* Style the tab */
.tabmain {
  overflow: hidden;
  border: 1px solid transparent;
  background-color: transparent;
  padding: 0 0 0 16px;
}

/* Style the buttons that are used to open the tab content */
.tabmain button,
.tabcontent button {
  background-color: rgba(42, 42, 42, 0.4);
  color: rgb(213 213 213);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px 16px;
  margin: 2px 0;
  transition: 0.3s;
}

/* .tabcontent button {
  font-size: 14px;
} */

/* Change background color of buttons on hover */
.tabmain button:hover,
.tabcontent button:hover {
  background: rgb(42 42 42);
  background: rgba(255, 255, 255, 0.2);
  color: rgb(213 213 213);
}

/* Create an active/current tablink class */
.tabmain button.active,
.tabcontent button.active {
  background: rgb(42 42 42);
  background-color: rgba(213, 213, 213, 0.8);
  color: rgb(42 42 42);
}

/* Style the tab content */
.tabcontent,
.tabcontentNested {
  display: none;
}

/* ------------------------------------------------------------- */

/* The container. */
.divDropdown {
  border-top: solid 1px grey;
  display: flex;
  cursor: pointer;
  background-color: rgba(42, 42, 42, 0.4);
}

.divDropdown:hover {
  background-color: rgba(186, 206, 35, 0.2);
}

.divDropdown:hover .spanDropdownRating {
  background-color: rgba(16, 16, 92, 0.7);
}

.divDropdownTop.drk-thm {
  min-height: 25px;
  padding: 5px 10px;
  color: rgb(172, 172, 172);
  color: rgb(213 213 213);
  /* background-color: rgb(41, 44, 58); */
  /* background-color: rgb(20, 20, 73); */
  /* background-color: rgba(42, 42, 42, 0.4); */
  color: rgb(213 213 213);
  border-bottom: solid 2px grey;
  cursor: default;
  text-align: left;
}

.divDropdownBottom.drk-thm {
  min-height: 25px;
  padding: 20px;
  padding: 5px;
  color: rgb(213 213 213);
  color: rgb(144, 144, 144);
  /* background-color: rgb(41, 44, 58); */
  /* background-color: rgb(20, 20, 73); */
  /* background-color: rgba(42, 42, 42, 0.4); */
  color: rgb(213 213 213);
  border-top: solid 2px grey;
  cursor: default;
  text-align: left;
}

.spanDropdownRating {
  padding: 5px 15px;
  width: 15px;
  max-width: 15px;
  min-width: 15px;
  color: rgb(213 213 213);
  font-weight: 500;
  background-color: rgba(45, 45, 168, 0.9);
}

/* The numeric rating is seperate. Might not matter. Seems to work without this.*/
.spanDropdownRating:hover {
  background-color: rgba(45, 45, 168, 0.7);
}

/*.................. 3.1.1.2 Rating Dropdown Paragraph */

/* Parents the overall condition text and is the description text. */
.pDropdownDescription {
  padding: 5px 5px 5px 8px;
  text-indent: -8px;
  text-wrap: wrap;
}
.pDropdownDescription.drk-thm {
  color: rgb(180, 180, 180);
  color: rgb(172, 172, 172);
}
.pDropdownDescription.lght-thm {
  color: rgb(33, 33, 33); /* Light Theme Dropdown */
}

/* The overall condition text. (Good, Fair, Poor) */
.spanDropdownCondition {
  margin: 0 5px;
  padding: 0 5px;
  color: rgba(45, 45, 168, 0.9);
  font-weight: 500;
  border-radius: 3px;
  text-wrap: nowrap;
}
.spanDropdownCondition.drk-thm {
  background: rgb(180, 180, 180);
}
.spanDropdownCondition.lght-thm {
  background: rgb(146, 146, 146); /* Light Theme Dropdown */
}

/*.............. 3.2 Rating Description */

.buttonDescriptionButton {
  white-space: nowrap;
  cursor: pointer;
  border-radius: 1px 1px 1px 1px;
}

.buttonDescriptionButton.drk-thm {
  color: rgb(33 33 33);
  font-weight: 500;
  background-color: rgb(172, 172, 172);
  border: none;
}

.buttonDescriptionButton.lght-thm {
  color: rgb(33 33 33);
  font-weight: 500;
  background-color: rgb(172, 172, 172);
  border: none;
}

.buttonDescriptionButton.drk-thm:focus,
.buttonDescriptionButton.drk-thm:hover {
  color: rgb(155, 36, 0);
  color: rgb(156, 1, 14);
  color: rgb(45, 45, 168);
  color: rgb(18, 84, 228);
  color: rgb(234, 30, 30);
  color: rgb(40, 165, 15);
  color: rgb(184, 37, 0);
  font-weight: 500;
  background-color: rgb(180, 180, 180);
  border: none;
}

.buttonDescriptionButton.drk-thm:active {
  color: rgb(234, 30, 30);
}

.buttonDescriptionButton.lght-thm:focus,
.buttonDescriptionButton.lght-thm:hover {
  color: rgb(155, 36, 0);
  color: rgb(156, 1, 14);
  color: rgb(1, 94, 156);
  color: rgb(45, 45, 168);
  color: rgb(234, 30, 30);
  color: rgb(184, 37, 0);
  font-weight: 500;
  background-color: rgb(180, 180, 180);
  border: none;
}

.buttonDescriptionButton.lght-thm:active {
  color: rgb(234, 30, 30);
}

/* ------------------------------------------------------------- */

/* Modal Footer */
.divModalFooter {
  padding: 10px 16px;
  border: none;
  border-top: solid 2px grey;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  background-color: rgb(20, 20, 73);
  color: rgb(213 213 213);
  cursor: default;
  user-select: none;
  background-color: rgba(20, 20, 73, 0.9);
  background-image: url("../media/light-down-blue3.png");
  background-size: 100px 115px;
}

.h3Footer {
  display: inline-block;
  cursor: default;
}

.aModalFooterLink {
  color: rgb(213 213 213);
  text-decoration: none;
  padding: 2px 5px;
  margin: 0 2px;
  background: rgb(33, 33, 99);
  border-radius: 1px;
  white-space: nowrap;
  display: inline-block;
  user-select: none;
}

.aModalFooterLink:hover,
.aModalFooterLink:active,
.aModalFooterLink:focus {
  color: rgb(213 213 213);
  text-decoration: none;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1px;
}
