/* ---------------------------- Defaults | Resets --------------------------------- */

:root {
  /* theme blue-grey*/
  --main-background: url("../media/light-down-black2.svg");
  --main-background-overlay: rgba(54, 54, 54, 0.9);
  --main-color: rgba(58, 73, 95, 0.9);
  --text-color: rgb(233, 233, 233);
  --content-background-color: rgba(34, 34, 34, 0.7);

  /* primary buttons - background */
  --active-button-color1: rgb(182 182 182);
  --hover-button-color1: rgb(40, 40, 65);
  --inactive-button-color1: rgb(47, 47, 77);
  /* primary buttons - text */
  --active-button-text-color1: rgb(42 42 42);
  --hover-button-text-color1: var(--text-color);
  --inactive-button-text-color1: var(--text-color);

  /* secondary buttons - background */
  --active-button-color2: rgb(200 200 200);
  --hover-button-color2: rgb(58, 88, 74);
  --inactive-button-color2: rgb(65, 99, 79);
  /* secondary buttons - text */
  --active-button-text-color2: rgb(42 42 42);
  --hover-button-text-color2: var(--text-color);
  --inactive-button-text-color2: var(--text-color);
}

html,
header,
textarea,
input,
button,
div,
p,
li,
ul {
  font-family: "Ubuntu", sans-serif;
  font-family: "DM Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  border: none;
  outline: none;
  color: var(--text-color);
}

ul {
  margin: 0 0 0 -15px;
  text-indent: -5px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
  font-family: "DM Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

/* ---------------------------- HTML | Body --------------------------------- */

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0px 10px 10px 10px;
  margin: 0px 0px 0px 0px;
  padding: 0;
  height: 100%;
  background-image: var(--main-background);
  background-size: 100px 115px;
}

/* ---------------------------- Header | Main | Footer --------------------------------- */

.header {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  width: 100%;
  height: 40px;
  padding: 10px 0;
  border: none;
  border-bottom: solid 2px grey;
  border-radius: 1px 1px 1px 1px;
  z-index: 1;
  overflow: hidden;
  background-color: var(--main-color);
  color: var(--text-color);
}

.header-tab-line {
  overflow: hidden;
  border: 1px solid transparent;
  background-color: transparent;
  padding: 0 0 0 16px;
}

/* buttons styled in a separate section. */

main {
  position: fixed;
  top: 62px;
  height: calc(100% - 62px - 57px);
  width: calc(100% - 20px);
  width: 100%;
  overflow-y: auto;
  background-color: var(--main-background-overlay);
  color: var(--text-color);
}

/* main containers styled in a separate section. */

.footer {
  position: fixed;
  bottom: 0;
  width: calc(100% - 20px); /* minus the padding on both sides */
  width: 100%;
  height: 35px;
  padding: 10px 0;
  border: none;
  border-top: solid 2px grey;
  border-radius: 1px 1px 1px 1px;
  z-index: 1;
  overflow: hidden;
  background-color: var(--main-color);
  color: var(--text-color);
}

.footer-spacer {
  /* sits above footer to add a little blank space for extra scrolling */
  height: 5px;
  display: block;
  margin-top: 5px;
  background-color: none;
}

/* footer logo styled at end. */

/* ---------------------------- Buttons --------------------------------- */

button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px 16px;
  margin: 2px 0;
  transition: 0.3s;
  background-color: var(--inactive-button-color1);
  color: var(--inactive-button-text-color1);
  /* box-shadow: 1px 1px 1px rgb(124 124 124 / 0.5); */
}

.alt-buttons {
  background-color: var(--inactive-button-color2);
  color: var(--inactive-button-text-color2);
}

/* Change background color of buttons on hover */
button:hover {
  background-color: var(--hover-button-color1);
  color: var(--hover-button-text-color1);
}

.alt-buttons:hover {
  background-color: var(--hover-button-color2);
  color: var(--hover-button-text-color2);
}

/* Create an active/current tablink class */
button.active {
  background-color: var(--active-button-color1);
  color: var(--active-button-text-color1);
}

.alt-buttons.active {
  background-color: var(--active-button-color2);
  color: var(--active-button-text-color2);
}

/* ---------------------------- Container --------------------------------- */

.main-content-containers {
  padding: 10px 20px;
  text-align: left;
  height: fit-content;
  margin: 10px 5px;
  border: solid 2px grey;
  border-radius: 1px;
  background-color: var(--main-color);
}

.content-container-tabs {
  min-height: 25px;
  padding: 5px 10px;
  border-bottom: solid 2px grey;
  cursor: default;
  text-align: left;
}

.content-container-paragraphs {
  padding: 12px;
  background-color: var(--content-background-color);
}

.content-container-paragraphs-ul {
  padding: 5px 20px;
  margin: 0 5px;
}

.content-container-rating-lines {
  border-bottom: solid 2px rgba(128, 128, 128, 0.2);
  display: flex;
  cursor: default;
  background-color: var(--content-background-color);
}

.content-container-rating-numerical {
  padding: 5px 10px 5px 15px;
  width: 15px;
  max-width: 15px;
  min-width: 15px;
  background-color: var(--content-background-color);
  font-weight: 500;
  color: var(--text-color);
}

/* Parents the overall condition text and is the description text. */
.content-container-rating-description-and-condition-bubble {
  padding: 5px 5px 5px 5px;
  text-indent: -8px;
  text-wrap: wrap;
  color: var(--text-color);
}

/* The overall condition text. (Good, Fair, Poor) */
.content-container-rating-condition-bubble {
  margin: 0 8px 0 5px;
  padding: 0 5px;
  font-weight: 500;
  border-radius: 1px;
  text-wrap: nowrap;
  background-color: var(--active-button-color1);
  color: var(--active-button-text-color1);
}

.content-container-comment-lines {
  padding: 0 15px;
  margin-bottom: 3px;
  color: rgb(172, 172, 172);
  text-indent: -15px;
  border-bottom: solid 2px rgba(128, 128, 128, 0.2);
  transition: 0.2s;
  color: var(--text-color);
}

.content-container-comment-lines:active {
  color: rgb(123, 131, 189);
}

.content-container-links-line {
  min-height: 25px;
  padding: 20px;
  padding: 5px;
  color: var(--text-color);
  border-top: solid 2px grey;
  cursor: default;
  text-align: left;
}

.content-container-links-line-label {
  display: inline-block;
  cursor: default;
}

.content-container-links-line-links {
  color: var(--text-color);
  text-decoration: none;
  padding: 4px 8px;
  margin: 0 2px;
  /* background: rgb(33, 33, 99); */
  background-color: var(--inactive-button-color1);
  border-radius: 0px;
  white-space: nowrap;
  display: inline-block;
  user-select: none;
}

.content-container-links-line-links:hover,
.content-container-links-line-links:active,
.content-container-links-line-links:focus {
  color: var(--text-color);
  text-decoration: none;
  background: rgba(255, 255, 255, 0.2);
  background-color: var(--hover-button-color1);
  border-radius: 1px;
}

.paragraph-rating {
  margin: 0 0 5px 0;
}

.element-content-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.element-content-cards {
  width: 550px;
  height: 160px;
  min-height: fit-content;
  text-align: left;
  margin: 10px 5px;
  padding-bottom: 5px;
  border: solid 2px grey;
  border-radius: 1px;
  background-color: var(--main-color);
}

.element-content-cards li {
  margin: 8px 10px;
}

.element-card-header {
  margin: -2px -2px 5px -2px;
  background-color: var(--hover-button-color1);
  padding: 10px 4px 4px 4px;
  border-bottom: solid 1px grey;
  border-radius: 1px;
}

.element-card-paragraph {
  text-indent: 25px hanging;
}

.culvert-content-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.culvert-content-cards {
  width: 550px;
  height: 280px;
  min-height: fit-content;
  text-align: left;
  margin: 10px 5px;
  padding-bottom: 5px;
  border: solid 2px grey;
  border-radius: 1px;
  background-color: var(--main-color);
}

.culvert-content-cards li {
  margin: 0px 10px;
}

.culvert-card-header {
  margin: -2px -2px 8px -2px;
  background-color: var(--hover-button-color1);
  padding: 10px 4px 4px 4px;
  border-bottom: solid 1px grey;
  border-radius: 1px;
}

.culvert-card-paragraph {
  text-indent: 25px hanging;
}

.naming-conventions-content-cards-container {
  display: block;
  /* flex-wrap: wrap;
  justify-content: space-around; */
}

.naming-conventions-card-header {
  margin: -2px -2px 8px -2px;
  background-color: var(--hover-button-color1);
  padding: 10px 4px 4px 4px;
  border-bottom: solid 1px grey;
  border-radius: 1px;
}

.naming-conventions-content-cards {
  min-height: fit-content;
  text-align: left;
  margin: 10px 5px;
  padding-bottom: 5px;
  border: solid 2px grey;
  border-radius: 1px;
  background-color: var(--main-color);
}

.naming-conventions-content-cards li {
  margin: 8px 10px;
}

.naming-conventions-card-paragraph {
  text-indent: 25px hanging;
}

.maintenance-content-cards-container {
  display: block;
  /* flex-wrap: wrap;
  justify-content: space-around; */
}

.maintenance-card-header {
  margin: -2px -2px 8px -2px;
  background-color: var(--hover-button-color1);
  padding: 10px 4px 4px 4px;
  border-bottom: solid 1px grey;
  border-radius: 1px;
}

.maintenance-content-cards {
  min-height: fit-content;
  text-align: left;
  margin: 10px 5px;
  padding-bottom: 5px;
  border: solid 2px grey;
  border-radius: 1px;
  background-color: var(--main-color);
}

.maintenance-content-cards li {
  margin: 8px 10px;
}

.maintenance-card-paragraph {
  text-indent: 25px hanging;
}

.report-walkthrough-content-cards-container {
  display: block;
  /* flex-wrap: wrap;
  justify-content: space-around; */
}

.report-walkthrough-card-header {
  margin: -2px -2px 8px -2px;
  background-color: var(--hover-button-color1);
  padding: 10px 4px 4px 4px;
  border-bottom: solid 1px grey;
  border-radius: 1px;
}

.report-walkthrough-content-cards {
  min-height: fit-content;
  text-align: left;
  margin: 10px 5px;
  padding-bottom: 5px;
  border: solid 2px grey;
  border-radius: 1px;
  background-color: var(--main-color);
}

.report-walkthrough-content-cards li {
  margin: 8px 10px;
}

.report-walkthrough-card-paragraph {
  text-indent: 25px hanging;
}

.component-maintenance-container {
  display: flex;
  background-color: var(--content-background-color);
  border-bottom: solid 2px rgba(128, 128, 128, 0.2);
}

.component-maintenance-button1,
.component-maintenance-button2,
.component-maintenance-button3,
.component-maintenance-button4 {
  margin: 4px 5px;
}

.component-maintenance-button1 {
  background-color: gray;
}
.component-maintenance-button2 {
  background-color: rgb(19, 114, 19);
}
.component-maintenance-button3 {
  background-color: rgb(177, 177, 33);
}
.component-maintenance-button4 {
  background-color: rgb(158, 33, 33);
}

.component-maintenance-item {
  padding: 12px 0 0 10px;
}

/* Hidden initially */
.asset-containers,
.bridge-component-containers,
.bridge-alignment-containers,
.bridge-approach-containers,
.bridge-joints-containers,
.bridge-railings-containers,
.bridge-deck-containers,
.bridge-super-containers,
.bridge-sub-containers,
.bridge-bearings-containers,
.bridge-culvert-containers,
.bridge-channel-containers,
.bridge-scour-containers,
.bridge-overtopping-containers,
.bridge-wildlife-containers,
.culvert-item-containers,
.wall-item-containers,
.element-content-containers {
  display: none;
}

/* ---------------------------- Footer Logo --------------------------------- */

.outer-container {
  position: absolute;
  left: 50%; /* Positions the top-left corner inside the parent */
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%); /* Adjusts the position based on width and height (left, top) */
  width: 320px;
  height: 30px;
  cursor: default;
}

.inner-container {
  margin: auto;
  width: 290px;
  height: 40px;
  text-align: center;
  display: flex;
  padding-left: 0px; /* Margin (auto) and width values allow the object to be centered horizontally inside parent */
}

.footer-image-holder {
  /* Logo */
  width: 30px;
  height: 60px;
  margin: -6px 0 0 0;
  padding: 0 0 0 0;
  border: 3px solid rgb(12, 158, 158, 0);
}

.iterate-img {
  padding-left: 0px;
  height: 40px;
  width: 40px;
}

.footer-text-holder {
  /* Text */
  width: 290px;
  height: 60px;
  margin: -4px 0 0 0;
  padding: 4px 0 0 0;
  border: 3px solid rgba(245, 144, 144, 0);
}
.ite-text {
  color: rgba(158, 38, 158, 0.7);
  color: rgba(167, 84, 167, 0.7);
  text-shadow: 0 0 4px rgb(0, 0, 0), 3px 3px 4px rgb(0, 0, 0);
  font-family: "Ubuntu", sans-serif;
  font-size: 24px;
  font-weight: bold;
}
.rate-text {
  color: rgba(255, 55, 0, 0.7);
  color: rgba(241, 89, 47, 0.7);
  text-shadow: 0 0 4px rgb(0, 0, 0), 3px 3px 4px rgb(0, 0, 0);
  font-family: "Ubuntu", sans-serif;
  font-size: 24px;
  font-weight: bold;
}
.trailing-text {
  font-size: 12px;
  color: rgb(224, 224, 224);
  vertical-align: 2px;
  text-shadow: 0 0 8px rgb(0, 0, 0), 3px 3px 8px rgb(0, 0, 0);
}

/*.............. 3.4 Rating Textarea */

.textarea-containers {
  width: 100%;
  border: none;
}

.textarea-containers:hover,
.textarea-containers:focus,
.textarea-comments:focus {
  background: rgba(91, 84, 122, 0.1);
}

.textarea-mirrors {
  display: grid;
  margin-left: 0px;
  /* padding: 3px 5px 0 3px; */
  text-align: left;
}

.textarea-mirrors::after {
  content: attr(data-replicated-value) " ";
  white-space: pre-wrap;
  visibility: hidden;
}

.textarea-comments,
.textarea-mirrors::after {
  padding: 3px 5px 5px 3px;
  padding: 0px;
  font: inherit;
  grid-area: 1 / 1 / 2 / 2;
}

.textarea-comments {
  resize: none;
  border: none;
  outline: none;
  box-shadow: none;
  background: transparent;
  overflow: hidden;
  transition: 3s;
  color: rgb(172, 172, 172);
  color: var(--text-color);
}
